.flexRow--landing-custom-content{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 50px;
}

@media(max-width:991px){
    .flexRow--landing-custom-content{
        margin: 30px 15px;
    }
    .flexRow--landing-custom :global(.vtex-store-components-3-x-container){
        padding: 0px;
    }
}