/* PRODUTOS SIMILARES */

.titleSimilar {
  display: block;
  line-height: 14px;
  font-size: 13px;
  font-weight: 500;
  color: #191919;
  margin-bottom: 8px;
  margin-top: 15px;
}

.similarLoading {
  font-size: 12px;
  font-weight: 500;
  color: #313131;
  margin-bottom: 8px;
}

.similarImageContainer {
  margin-bottom: 12px;
  flex-wrap: wrap;
}

.similarImageDiv {
  border: 1px solid #191919;
  border-radius: 3px;
  margin: 0 6px 6px 0;
}

.similarImage {
  display: none;
}

.similarImageSelect {
  border-color: #0f58d6;
}

.talleAgotado{
  opacity: .5;
}

.FlexLayoutChildren--shelf-prices {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.similarImageLink {
  padding: 8px 15px;
  display: inline-block;
  text-decoration: none;
}

.similarColorName {
  display: flex;
  color: #191919;
  font-size: 14px;
}

/* Tabs */

.activeTab {
  background: #f8f8f8 0% 0% no-repeat padding-box !important;
}

/* SizeTable */

.sizeTable,
.sizeTable .sizeTableActionOpen {
  font-size: 14px !important;
  line-height: 16px !important;
  letter-spacing: 0px !important;
  text-decoration: underline;
  color: #313131 !important;
}

.sizeTableActionOpen .sizeTableIcon {
  display: none;
}

/* talleAgotado */

.talleAgotado {
  background-color: #dedede !important;
  border-radius: 100%;
}

.talleAgotado :global(.vtex-store-components-3-x-skuSelectorInternalBox) {
  border: 1px solid #525252 !important;
}

.talleAgotado :global(.vtex-store-components-3-x-skuSelectorItemTextValue) {
  color: #525252 !important;
}

.talleAgotado:hover :global(.vtex-store-components-3-x-skuSelectorInternalBox),
.talleAgotado:hover
  :global(.vtex-store-components-3-x-skuSelectorItemTextValue) {
  transition: 0.2s all !important;
  background-color: #dedede !important;
  color: #525252 !important;
}

.BrandFlagContainer {
  display: flex;
}
.BrandFlagContainer :first-child {
  margin-left: auto;
}

/* SHELF PDL */
.FlexLayoutChildren--shelf-prices-pdl {
  justify-content: flex-end;
  text-align: left;
}