.title--countdown {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    padding-right: 0;
    padding-bottom: 5px;
    margin: 0;
    line-height: 15px;
}

.timmer--countdown {
    background: #fff;
    border-radius: 5px;
    padding: 7px 15px;
    width: 275px;
}

.wrapper--countdown {
    margin: 15px 0px;
    flex-direction: column;
}

.value--countdown {
    color: #485A64;
    font-size: 24px;
    font-weight: 700;
    line-height: 21px;
}

.label--countdown {
    color: #0f58d6;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.time--countdown {
    border-right: 1px solid #bbbbbb;
    padding: 0 20px;
}

.time--countdown:first-child {
    border-left: 0;
    padding-left: 0;
    width: 44px;
}

.time--countdown:last-child {
    border-right: 0;
    padding-right: 0;
    width: 44px;
}

.titlefinish, .textfinish {
    margin: 0;
}

.containerfinish {
    display: flex;
    align-items: center;
    margin: 18px 30px;
    flex-direction: row;
    width: auto!important;
}

.textfinish--countdown {
    background: #fff;
    border-radius: 5px;
    padding: 8px 15px;
    text-align: center;
    color: #313131;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.titlefinish {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    padding-right: 10px;
    padding-bottom: 0;
}

@media(min-width: 1024px){
    .title--countdown {
        color: #fff;
        font-weight: 300;
        font-size: 18px;
        padding-right: 15px;
        padding-bottom: 0;
    }
    .timmer--countdown {
        width: 244px;
    }
    .time--countdown {
        padding: 0 15px;
    }
    .wrapper--countdown {
        margin: 0 30px;
        flex-direction: row;
        width: auto !important;
    }
    .containerfinish {
        margin: 0px 30px;
    }
}