/* Shelf */

.container--shelf-product {
  border-radius: 0;
  margin: 0px 7px;
  max-width: 100%!important;
  transition: .3s all;
  border: 0;
  box-shadow: 0px 1px 5px 1px rgb(0 0 0 / 11%)
}

.element--shelf-product {
  padding: 0;
  background: #ffffff;
}

.imageContainer--shelf-product {
  display: flex;
}

.image--shelf-product {
  /* width: 100%;
  height: 100%;
  max-height: 195px !important;
  max-width: 195px !important; */
  margin: auto;
  margin-bottom: 5px;
}

.nameContainer--shelf-product {
  justify-content: flex-start;
  /* margin-bottom: 8px; */
  min-height: auto;
  padding: 0;
}

.brandName--shelf-product {
  line-height: 18px;
  font-size: 15px;
  font-weight: 600;
  color: #485A64;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: left;
}

@media only screen and (max-width: 1025px) {
  .container--shelf-product {
    margin: 0;
  }
}

@media only screen and (max-width: 577px) {
  .image--shelf-product {
    /* width: 100%;
    height: 100%;
    max-height: 155px !important;
    max-width: 155px !important; */
    margin: auto;
    margin-bottom: 5px;
  }

  .brandName--shelf-product {
    line-height: 18px;
    font-size: 14px;
  }
}

/* RENGLON */
.skuSelectorContainer--info-product-selector {
  margin: 0;
}

.skuSelectorItem--info-product-selector {
  display: none;
}

.skuSelectorItem--info-product-selector--selected {
  width: 100% !important;
  background: transparent !important;
  margin: 0 !important;
  height: 30px !important;
  display: block !important;
}

.skuSelectorInternalBox--info-product-selector {
  border: 0 !important;
  background: transparent !important;
}

.skuSelectorInternalBox--info-product-selector {
  border: 0 !important;
  background: transparent !important;
}

.skuSelectorItemTextValue--info-product-selector {
  color: #313131 !important;
  font-weight: 500 !important;
  text-align: center;
  display: block !important;
  width: 100% !important;
  height: auto !important;
  font-size: 13px !important;
  background: transparent !important;
}

/* SHELF PDL */
.element--shelf-pdl {
  flex-direction: row;
}
.brandName--shelf-product-name-pdl {
  text-align: left;
}

.nameContainer--shelf-product-name-pdl {
  justify-content: flex-start;
}


/* CUCARDA GENERICA PDL */
@media (max-width: 1024px){
  .image--shelf-product {
    padding-top: 20px;
  }
}

/* SHELF CART */
.element--shelf-cart {
  padding-bottom: 0;
}

.image--shelf-cart {
  max-width: 85px;
}

.element--shelf-cart :global(.vtex-button) {
  position: absolute;
  top: 0;
  bottom: 0px;
  width: 88%;
  height: 95%;
  border: 0;
  background: transparent;
}

.element--shelf-cart :global(.vtex-add-to-cart-button-0-x-buttonDataContainer) {
  font-size: 0;
}

.element--shelf-cart :global(.vtex-button__label) {
  padding: 0;
}

.container--shelf-cart :global(.vtex-flex-layout-0-x-flexRow--shelf-product-badges) {
  position: absolute;
  top: 76px;
  left: 0px;
}

.container--shelf-cart :global(.vtex-product-price-1-x-sellingPrice--shelf-product) {
  font-size: 14px;
  margin-left: 0px;
}

.container--shelf-cart :global(.vtex-product-price-1-x-sellingPriceValue--shelf-product) {
  font-weight: 600;
}

.container--shelf-cart :global(.vtex-flex-layout-0-x-flexRowContent--shelf-prices) {
  padding: 3px 0 3px 5px;
}

.container--shelf-cart :global(.vtex-flex-layout-0-x-flexRow--shelf-product-badges) :global(.vtex-product-highlights-2-x-productHighlightText--free-shipping) {
  font-size: 10px;
  padding: 0 4px;
}

.container--shelf-cart .brandName--shelf-product {
  font-size: 12px;
  line-height: 13px;
  margin-left: 5px;
  margin-top: 5px;
  -webkit-line-clamp: 1;
}

.container--shelf-cart .brandName--shelf-product {
  margin-top: 0;
  margin-left: 4px;
  line-height: 13px;
}

@media(min-width: 1025px){
  .container--shelf-cart :global(.vtex-flex-layout-0-x-flexRow--shelf-product-badges) :global(.vtex-product-highlights-2-x-productHighlightText--free-shipping) {
    padding: 0 8px;
  }
  .container--shelf-cart :global(.vtex-flex-layout-0-x-flexRow--shelf-product-badges) {
    top: 84px;
    left: 7px;
  }  
  .container--shelf-cart .brandName--shelf-product {
    margin-top: 5px;
    margin-left: 5px;
    line-height: 13px;
  }
}