/* Footer */

.socialNetworkLink {
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 18px;
}

.socialNetworksContainer {
  margin: 0;
}

.socialNetworkImage {
  opacity: 0;
}

@media only screen and (max-width: 1025px) {
  .socialNetworkWrapper {
    margin-top: 18px;
  }
}

/**/
