/* Product */

.product-identifier__label,
.product-identifier__value,
.product-identifier__separator {
  line-height: 12px;
  font-size: 20px;
  color: #808895;
  letter-spacing: -.5px;
}

/**/
:global(.vtex-flex-layout-0-x-flexRowContent--shelf-name-wrapper) .product-identifier__label,
:global(.vtex-flex-layout-0-x-flexRowContent--shelf-name-wrapper) .product-identifier__value,
:global(.vtex-flex-layout-0-x-flexRowContent--shelf-name-wrapper) .product-identifier__separator {
  line-height: 18px;
  color: #485A64;
  font-size: 14px;
  font-weight: 600;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: left;
}

@media only screen and (max-width: 577px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--shelf-name-wrapper) .product-identifier__label,
  :global(.vtex-flex-layout-0-x-flexRowContent--shelf-name-wrapper) .product-identifier__value,
  :global(.vtex-flex-layout-0-x-flexRowContent--shelf-name-wrapper) .product-identifier__separator {
    font-size: 13px;
  }  
}