.emailInputContainer--popup-email :global(.vtex-input__error),
.nameInputContainer--popup-name :global(.vtex-input__error){
    background: #ee2d21;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: 50px;
}

.newsletterForm--event-newsletter-wrapper {
    background: #2d334d;
    padding: 25px;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .emailInputContainer {
    width: 240px;
    display: inline-block;
    border: 0;
  }
  
  .nameInputContainer {
    width: 240px;
    display: inline-block;
  }
  
  .formSubmitContainer {
    width: 160px;
    display: inline-block;
  }
  
  .formSubmitContainer :global(.vtex-button) {
    display: block;
    width: 100%;
    border-radius: 0;
    outline: none;
    background: #0f58d6;
    border: 1px solid #fff;
    transition: background .2s linear;
    max-width: 200px;
    margin: 0 auto;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    letter-spacing: .025em;
  }

  .formSubmitContainer :global(.vtex-button):hover{
    background-color: #88c008;
  }
  
  .formSubmitContainer :global(.vtex-button__label) {
    position: relative;
}

  .emailInputContainer :global(.vtex-input-prefix__group) {
    border-radius: 5px;
    border: 1px solid #707070;
    margin-right: 10px;
    width: 240px;
  }
  
  .nameInputContainer :global(.vtex-input-prefix__group) {
    border-radius: 5px;
    border: 1px solid #707070;
    margin-right: 10px;
    width: 240px;
  }

  .nameInputContainer :global(.vtex-styleguide-9-x-input)::placeholder {
    color: #191919 !important;
    font-size: 13px !important;
  }

  .emailInputContainer :global(.vtex-styleguide-9-x-input)::placeholder {
    color: #191919 !important;
    font-size: 13px !important;
  }

  .defaultSuccessMessage--event-newsletter-wrapper {
    background: #2d334d;
    padding: 25px;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    padding-top: 30px;
}

.newsletterForm--popup-form-wrapper {
  padding: 15px;
  width: 100%;
}

  @media(max-width: 1024px){
    .emailInputContainer :global(.vtex-input-prefix__group),
    .nameInputContainer :global(.vtex-input-prefix__group){
      margin: 0 0 10px 0;
    }
    .nameInputContainer :global(.vtex-styleguide-9-x-input)::placeholder,
    .emailInputContainer :global(.vtex-styleguide-9-x-input)::placeholder{
      font-weight: 500;
    }
    .formSubmitContainer :global(.vtex-button){
      width: 100%;
    }
    .emailInputContainer :global(.vtex-input-prefix__group) {
      width: 100%;
      border: 0;
    }
    .nameInputContainer :global(.vtex-input-prefix__group) {
      width: 100%;
    }
    .formSubmitContainer :global(.vtex-input-prefix__group) {
      width: 100%;
    }
  }

  .emailInputContainer--popup-email {width: 100%;display: flex;flex-direction: column;}

.formSubmitContainer--popup-submit {width: 100%;display: block;}

.nameInputContainer--popup-name {width: 100%;}

.formSubmitContainer--popup-submit .formSubmitContainer--popup-submit {background: transparent !important;}