.arrow{
  outline: none;
  padding: 0 4px;
}

/* @media only screen and (max-width: 426px){
  .arrow{
    display: none;
  }
} */

.arrowRight--suggestion-block {
  right: -15px;
}

.arrowLeft--suggestion-block {
  left: -18px;
}

.caretIcon {
  opacity: 1;
  color: #485A64;
  width: 17px;
}

.slide--shelf-product{
  padding: 14px 6px;
}

.paginationDotsContainer {
  align-items: center;
}
.dot {
  background: #ffffff;
  border: 1px solid #485A64;
}

.dot--isActive {
  background: #485A64;
  border: 1px solid #485A64;
}

.title--shelf-product {
  margin: 0 0 2px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .4px;
  color: #313131;
}
.title--shelf-product {
  display: none;
}

.sliderContainer--shelf-product {
  padding: 0;
}

.relatedProducts--shelf-product :global(.vtex-slider-0-x-sliderFrame) {
  padding: 8px 0 !important;
  overflow: hidden;
}
.relatedProducts--shelf-product .slide--shelf-product {
  overflow: visible !important;
  padding: 0 !important;
}

.arrowRight--shelf-product,
.arrowLeft--shelf-product {
  outline: 0;
}

.arrowLeft--shelf-product {
  transform: translateX(-100%) scale(0.7);
}

.arrowRight--shelf-product {
  transform: translateX(100%) scale(0.7);
}

.title--suggestion-block {
  display: none;
}

@media only screen and (max-width: 1025px) {
  .arrowLeft--shelf-product {
    transform: translateX(-80%) scale(0.7);
  }
  .arrowRight--shelf-product {
    transform: translateX(80%) scale(0.7);
  }
  .relatedProducts--suggestion-block {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 425px) {
  .arrowRight--shelf-product,
  .arrowLeft--shelf-product {
    display: none;
  }
}

/* CUCARDA CONTADO PDP RELATED */
.relatedProducts--suggestion-block :global(.vtex-flex-layout-0-x-flexRowContent--shelf-product-promo-contado-container) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: auto !important;
}
@media(max-width: 1024px){
  .relatedProducts--suggestion-block :global(.vtex-product-highlights-2-x-productHighlightText-span--badge-contado):first-child {
      left: 0px;
      top: -10px;
      font-size: 17px;
  }
  .relatedProducts--suggestion-block :global(.vtex-product-highlights-2-x-productHighlightText-span--badge-contado):last-child {
    top: 10px;
    left: 0px;
    font-size: 10px;
  }
}

/* CUCARDA CYBER */
.relatedProducts :global(.vtex-product-highlights-2-x-productHighlightText--cyber) {
  width: auto;
}
.relatedProducts :global(.vtex-flex-layout-0-x-flexRowContent--shelf-product-cyber-badges) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  justify-content: flex-start;
}

/* CUCARDA HOTSALE */
.relatedProducts :global(.vtex-product-highlights-2-x-productHighlightText--hotsale) {
  width: auto;
}
.relatedProducts :global(.vtex-flex-layout-0-x-flexRowContent--shelf-product-hotsale-badges) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  justify-content: flex-start;
}

/* CUCARDA REGALO */
.relatedProducts :global(.vtex-product-highlights-2-x-productHighlightText--gift) {
  width: auto;
}
.relatedProducts :global(.vtex-flex-layout-0-x-flexRowContent--shelf-product-gift-badges) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  justify-content: flex-end;
}