/* JOS - VIDEO */
.videoContainer--pdp-tab-video {
    display: flex;
    justify-content: center;
}
@media(max-width: 640px){
    .videoElement--pdp-tab-video {
        width: 100% !important;
        height: 230px !important;
    }
}