/* TOP-BAR */
.flexRow--top-bar {
  background: #e8e8e8;
  position: static;
} /*just mobile*/

.flexRowContent--top-bar {
  align-items: center;
  height: 32px;
  justify-content: center;
  column-gap: 32px;
  padding-left: 0;
  display: flex;
} /*just mobile*/

.flexRowContent--top-bar__item {
  column-gap: 8px;
  align-items: center;
}

@media only screen and (max-width: 1025px) {
  .flexRowContent--top-bar__item {
    display: flex;
  }
}

/* --- */


/* HOME */

/* HOME - top gallery */
.flexRow--top-gallery {
  max-width: 1200px;
  margin: 0 auto 70px;
}

.flexRow--top-gallery :global(.vtex-store-components-3-x-container) {
  margin: 0;
  padding: 0;
}

.flexRowContent--top-gallery-row {
  justify-content: space-evenly;
}

/* -- DEALS -- */
.flexRow--deals {
  padding: 30px 0px;
  margin-bottom: 0px;
}

.flexRowContent--deals-row-content {
  flex-direction: column;
}
.flexCol--deals-col {
  flex-direction: row;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 9px;
}

.flexColChild--deals-col {
  display: flex;
  align-items: center;
}

.flexRowContent--deals-row-content {
  margin-left: 10px;
}

@media only screen and (min-width: 1200px) {
  .flexRowContent--deals{
    width: 1200px;
    margin: auto;
  }
}

/* HOME - Brands Carousel */
.flexRowContent--brands-carousel {
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding: 0 8px;
  row-gap: 20px;
  margin-bottom: 48px;
}

.flexRowContent--brands-carousel
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  max-width: 1200px;
  width: 100% !important;
}

.flexRow--drawer-bottom-content {
  margin-top: 12px;
  border-top: 1px solid #fff;
  padding-top: 15px;
}

.flexCol--mobile-links-container {
  border: none;
}

.flexRow--drawer-bottom-content :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

/* FOOTER  */
/* ---------------------------------------------------------------------------------------------------------------- */

.flexRow--footer-links {
  padding: 26px 0;
  background: #0F58D6;
}

.flexRowContent--footer-links {
  max-width: 1170px;
  margin: 0 auto;
  align-items: flex-start;
}

.flexCol--footer-payment {
  margin-top: 34px;
}

.flexRowContent--footer-payment-badges {
  align-items: center;
}

.flexRow--footer-bottom {
  padding: 13px 0;
  background-color: #333333;
}

.flexRowContent--footer-bottom {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 0 15px;
}

.flexRowContent--footer-copyright,
.flexRowContent--footer-development {
  align-items: center;
}

.flexRow--mobile-footer-links {
  padding: 21px 8px 24px;
  background: #0F58D6;
}

@media only screen and (max-width: 639px) {
  .flexRowContent--footer-copyright {
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 1025px) {
  .flexRow--footer-bottom {
    padding: 12px 8px;
  }

  .flexRowContent--footer-copyright {
    justify-content: flex-start;
  }

  .flexRowContent--footer-development {
    justify-content: center;
  }
}

/**/

/* ------- Product -------- */
.flexRow--specification-content,
.flexRow--productSpecificationGroup{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.flexRowContent--productSpecification {
  display: flex;
  padding: 15px;
}
.flexRow--productSpecificationGroup {
  margin-bottom: 30px;
}

.flexRowContent--deco-info-wrapper {
  display: flex;
  flex-direction: column;
}

.flexRow--productSpecification:nth-child(odd) {
  background: #EBECEE;
}

@media only screen and (max-width: 1025px) {
  .flexRow--specification-content,
  .flexRow--productSpecificationGroup{
      padding: 0 7px;
  }
}

/*product brand image */

.flexCol--image-column {
  position: relative;
}

/**/

.flexRowContent--product-main-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 48px;
  padding: 0px;
  overflow: hidden;
}

.flexRowContent--product-prices {
  align-items: flex-end;
  justify-content: flex-start;
}

.flexRow--product-prices {
  margin: 15px 0 0 0;
  line-height: 0;
}

.flexRowContent--product-details-badges {
  display: flex !important;
  justify-content: flex-start;
  column-gap: 8px;
  align-items: center;
}

.flexRow--product-prices::after {
  content: "";
  font-size: 9px;
  font-weight: 500;
  display: flex;
  color: #8f8b8b;
  margin: 15px 0 0;
}

.flexRowContent--shelf-prices .stretchChildrenWidth {
  width: 100% !important;
}

/* .flexRow--cart-button {
  margin-bottom: 16px;
} */

.flexRow--cart-button :global(.vtex-button) {
  height: 40px;
  margin: 20px 0 0 0;
  border: none;
  border-radius: 0px;
  outline: none;
  background: #0f58d6;
  transition: background-color 0.2s linear;
}

.flexRow--cart-button :global(.vtex-button):hover {
  background: #88C008;
}

.flexRow--cart-button :global(.vtex-button):active {
  background: #88C008;
}

.flexRow--cart-button :global(.vtex-button):disabled {
  margin: auto 0 0;

  background: #ececec 0% 0% no-repeat padding-box;
  border-radius: 6px;
}
.flexRow--cart-button
  :global(.vtex-button):disabled
  :global(.vtex-add-to-cart-button-0-x-buttonText) {
  font-size: 0;
}
.flexRow--cart-button
  :global(.vtex-button):disabled
  :global(.vtex-add-to-cart-button-0-x-buttonText)::before {
  content: "AGOTADO";

  font-size: 14px;
  line-height: 21px;
  color: #525252;
  margin: auto 0 0;
}

.flexRow--cart-button {
  margin-top: 12px;
}

@media only screen and (max-width: 1025px) {
  .flexRowContent--product-main-content {
    padding: 0;
    margin: 0 auto 32px;
  }
}

@media only screen and (max-width: 640px) {
  .flexRowContent--cart-button {
    flex-direction: row;
    row-gap: 12px;
    align-items: flex-start;
  }

  .flexRow--cart-button :global(.vtex-button) {
    margin-left: 0;
  }

  .flexRowContent--cart-button
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100%;
  }
}

/**/

/* Not Found */

.flexRowContent--not-found {
  min-height: 500px;
  align-items: center;
  padding: 0 8px;
}

@media only screen and (max-width: 1025px) {
  .flexRowContent--not-found {
    min-height: 420px;
  }
}

/**/

/* Search */

.flexRow--content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.flexColChild--filters {
  width: 244px;
  margin-right: 8px;
}

.flexRow--result-top {
  padding: 0 8px;
  margin-bottom: 10px;
}

.flexRowContent--result-top {
  align-items: center;
}

.flexRow--content :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

@media only screen and (max-width: 1025px) {
  .flexRow--mobile-buttons {
    margin-bottom: 20px;
    border-top: 1px solid #0F58D6;
    border-bottom: 1px solid #0F58D6;
  }

  .flexRowContent--mobile-buttons {
    align-items: center;
  }
}

/**/

/* Institutional */

.flexRowContent--breadcrumb {
  align-items: center;
  justify-content: flex-start;
  max-width: 1200px !important;
  margin: 24px auto 0 !important;
  padding: 0 15px !important;
}

.flexRowContent--institutional-wrapper {
  max-width: 1200px;
  margin: 32px auto 32px;
  padding: 0;
  display: block;
}

.flexRowContent--institutional-wrapper .stretchChildrenWidth {
  justify-content: center;
}

@media only screen and (max-width: 1025px) {
  .flexRowContent--breadcrumb,
  .flexRowContent--institutional-wrapper {
    padding: 0 8px;
  }
}

/* MENU */
.flexRow--categories-wrapper
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):not(:first-child) {
    padding: 0 30px
}
.flexCol--subcategory-column01 {
  grid-area: column01;
  height: max-content;
}

.flexCol--subcategory-column02 {
  grid-area: column02;
  height: max-content;
}

.flexRowContent--categories-wrapper {
  justify-content: center;
  padding: 20px 0;
}

.flexRow--categories-wrapper {
  max-width: 1200px;
  width: 100%;
}

.flexRowContent--categories-wrapper {
  justify-content: center;
}

/* HEADER */

.flexRowContent--user-items {
  align-items: center;
}

@media only screen and (max-width: 1025px) {
  .flexRow--user-items {
    flex: 1;
  }
  .flexRow--user-items :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }

  .flexRowContent--user-items {
    justify-content: flex-end;
  }
}

/* SHELF */

.flexRow--shelfWithBackground {
  padding-bottom: 15px;
  margin-bottom: 0px;
}

.flexRow--shelfProduct {
  padding: 40px 0 60px 0;
}

.flexRowContent--shelf {
  max-width: 1220px;
  margin: 0 auto;
  flex-direction: column;
}

.flexRow--shelf-slider {
  margin: 60px 0;
}

.flexRow--shelf-product-top {
  position: relative;
}

.flexRow--shelf-product-bottom {
  padding: 8px 8px 5px 8px;
  flex: 1;
  display: flex;
}

.flexRow--shelf-product-bottom :global(.vtex-store-components-3-x-container) {
  margin: 0;
  padding: 0;
  width: 100%;
}

.flexRowContent--shelf-product-bottom {
  display: flex;
}

.flexCol--product-bottom-col {
  position: relative;
}

.flexRow--shelf-product-badges {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 8px;
}

.flexRow--shelfProduct .stretchChildrenWidth:last-child {
  width: 100% !important;
  justify-content: flex-end;
  align-items: flex-end;
}

.flexRow--product-description {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 48px;
  padding: 0 15px;
}

/* Departamento */
.flexRow--category-banner :global(.vtex-store-components-3-x-container){
  padding: 0;
}

.flexRowContent--shelf-product-badges {
  align-items: flex-start;
  flex-direction: column;
  row-gap: 4px;
}
.flexRowContent--shelf-product-badges :first-child {
  align-items: flex-start;
}
.flexRow--shelf-product-bottom-badges 
  .flexRowContent--shelf-product-bottom-badges
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  width: auto!important;
}
/* .flexRowContent--shelf-product-badges :last-child :first-child {
  text-align: end;
} */

.flexRowContent--shelf-product-top-badges {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.flexRow--shelf-product-top-badges {
  top: 0;
}

.flexRow--shelf-product-bottom-badges {
  bottom: 12px;
  padding: 0;
  left: 0;
  width: auto;
}

.flexRowContent--shelf-prices {
  flex-direction: column;
  padding: 7px 0;
}

@media only screen and (max-width: 1025px) {
  .flexRow--shelf {
    padding: 0 8px 22px;
    margin-bottom: 20px;
  }

  .flexRow--shelfWithBackground,
  .flexRow--shelfProduct {
    padding: 16px 8px 16px;
  }

  .flexRow--shelfProduct {
    padding: 30px 7px;
  }

}

@media only screen and (max-width: 639px) {
  .flexRow--shelfWithBackground {
    max-width: 420px;
    margin: 0 auto;
  }
}
/* -- */

/* SHELF WITH SEE MORE*/

.flexColChild--shelf-see-more {
  text-align: center;
  margin-top: 32px;
}

/* HOME - BANNER BOTTOM */

.flexRowContent--bottom-banner {
  align-items: center;
  justify-content: center;
  padding: 0;
}

@media only screen and (min-width: 1025px) {
  .flexRowContent--bottom-banner {
    width: 1200px;
    margin: 0 auto 60px;
    padding: 0 15px;
  }
}

/* - HOME BANNERS - */
.flexRowContent--banner-home-wrapper {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
.flexRow--banner-home-row-1 {
  margin-bottom: 18px;
}
.flexRow--banner-home-wrapper {
  margin: 30px 0;
  padding: 0 7px;
}

/* HOME - ENCONTRALO POR DEPORTE */
.flexRowContent--encontralo-wrapper {
  justify-content: center;
  column-gap: 16px;
}

.flexRow--encontralo-item {
  border: 1px solid #dedede;
  border-radius: 4px;
  width: 132px;
  height: 40px;
  padding: 7px 10px;
}

.flexRow--encontralo-item:hover {
  background-color: #f8f8f8;
}

.flexRowContent--encontralo-item {
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}

@media only screen and (max-width: 992px) {
  .flexRowContent--encontralo-wrapper {
    display: grid;
    grid-template-columns: 132px 132px;
    justify-content: center;
    row-gap: 8px;
  }

  .flexRowContent--encontralo-item {
    display: flex;
  }
}

/* MINICART */

.flexRow--product {
  margin-bottom: 16px;
}

.flexRow--minicart-footer {
  box-shadow: none;
}

.flexRow--minicart-footer
  :global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
  display: none;
}

.flexRow--minicart-footer :global(.vtex-checkout-summary-0-x-summaryItemLabel) {
  color: #1f1f1f;
  font-weight: 400;
  font-family: "Skf";
}

.flexRow--minicart-footer :global(.vtex-checkout-summary-0-x-price) {
  color: #1f1f1f;
}

/**/

/* ----------------------------------
             ACCOUNT 
  --------------------------------- */

.flexRowContent--account {
  max-width: 1024px;
  margin: 0 auto;
}

@media only screen and (max-width: 576px) {
  .flexRowContent--account {
    padding: 0 8px 48px;
  }
}

.flexRowContent--account :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

@media only screen and (min-width: 1024px) {
  .flexRowContent--account :global(.vtex-account) {
    margin-top: -64px;
  }
}

/*(ACCOUNT) side info */

.flexRowContent--account :global(.vtex-account_menu-link) {
  margin: 0;
  padding: 8px 16px;
  font-family: "Skf";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #707070 !important;
}

/*(ACCOUNT) main infos*/
.flexRowContent--account :global(.vtex-pageHeader__container) {
  padding: 0;
  margin-bottom: 12px;
}

.flexRowContent--account :global(.vtex-pageHeader-link__container) {
  margin-bottom: 12px;
}
.flexRowContent--account :global(.vtex-pageHeader__title) {
  margin: 0;
  padding: 0;
  font-family: "Skf";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.56px;
  color: #313131;
  text-transform: uppercase;
}

.flexRowContent--account :global(.vtex-account__page) {
  width: 100%;
}

.flexRowContent--account :global(.vtex-account__page-body) {
  padding: 0;
}

@media only screen and (max-width: 576px) {
  .flexRowContent--account :global(.vtex-account__page-body) {
    padding: 10px 0;
  }
}

.flexRowContent--account :global(.vtex-button) {
  outline: none;
  border: none;
}

/* ------------------------------------------- */

/* ACCOUNT BREADCRUMB */

.flexRowContent--breadcrumb {
  align-items: center;
  justify-content: flex-start;
  max-width: 1024px;
  margin: 16px auto 0;
}

/* ----------------------------------------------*/

/* PAGINA DE MARCAS (ADIDAS, REEBOK) */

/* Pagina de Marcas: Top Gallery */
.flexRow--brands-top-gallery {
  max-width: 1024px;
  margin: 0 auto 40px;
}

.flexRow--brands-top-gallery :global(.vtex-store-components-3-x-container) {
  margin: 0;
  padding: 0;
}

.flexRowContent-brands-top-gallery-row {
  justify-content: center;
}

@media only screen and (min-width: 1440px) {
  .flexRow--brands-top-gallery {
    max-width: 1080px;
  }
}

/* Pagina de Marcas: Banner Bottom */
.flexRowContent--brands-bottom-banner {
  align-items: center;
  justify-content: center;
}

.flexRow--brands-bottom-banner :global(.vtex-store-components-3-x-container) {
  margin: 0 auto;
  padding: 0;
}

/* Pagina de Marcas: Menu */
.flexRow--brands-menu {
  background-color: #313131;
  padding: 9px 0;
}

.flexRow--brands-menu-large {
  padding: 2px 0;
}

.flexRow--brands-menu :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  column-gap: 75px;
  align-items: center;
}

.flexRowContent--brands-menu {
  max-width: 1024px;
  margin: 0 auto;
}

@media only screen and (max-width: 1025px) {
  .flexRow--brands-menu :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    column-gap: unset;
    width: 100% !important;
    justify-content: space-between;
  }
  .flexRowContent--brands-menu
    :global(.vtex-store-drawer-0-x-openIconContainer) {
    flex: unset;
    max-width: max-content;
    padding-right: 10px;
  }
  .flexRowContent--brands-menu {
    max-width: 98%;
    margin: 0 auto;
  }
}

.flexRow--shelf-toggle {
  display: none;
}

.flexRow--default-active {
  display: flex;
}

.flexRow--shelf-toggle .stretchChildrenWidth {
  width: 100% !important;
}

/* Newsletter */
.flexRow--newsletter{
  justify-content: center;
  align-items: center;
  padding: 52px 0;
  background: url("/arquivos/skf-newsletter-desktop.jpg") center no-repeat;
  background-size: cover;
}
.flexRow--newsletter :global(.vtex-store-components-3-x-container){
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flexRowContent--newsletter{
  width: fit-content;
  align-self: center;
}
@media only screen and (max-width: 768px) {
  .flexRow--newsletter {
    padding: 70px 0;
    background: url("/arquivos/skf-newsletter-mobile.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
  .flexRow--newsletter :global(.vtex-store-components-3-x-container){
    justify-content: center;
    padding: 0;
  }
  .flexRowContent--newsletter{
    align-self: center;
  }
}

/* SLIDER CATEGORY */
.flexRowContent--slider-brand__item{
  display: block;
}
@media only screen and (max-width: 1024px) {
  .flexRow--slider-brand__item{
    padding-bottom: 30px;
  }
  .vtex-flex-layout-0-x-flexRow--slider-brand__item {
    padding-bottom: 30px;
  }
}

/* INFO PRODUCTOS */
.flexCol--product-info {
  padding: 0;
}

.flexColChild--product-info {
  border-bottom: 1px solid #485A64;
  padding: 10px;
}

.flexColChild--product-info:last-child {
  margin-right: 0px;
}

@media only screen and (max-width: 1025px) {
  .flexColChild--product-info {
    width: 100%;
    margin: 5px 0;
  }
  .flexRowContent--product-info-envios,.flexRowContent--product-info-retiro,.flexRowContent--product-info-devolucion{
    display: inline-flex;
  }
  .flexRow--product-details-badges{
    left: 13px;
  }
}

/* SUCURSALES */
.flexRowContent--sucursales-wrapper {
  margin: 0;
  max-width: 100%;
  padding: 0;
}
.flexRow--sucursales-wrapper :global(.vtex-store-components-3-x-container) {
  padding: 0;
}
@media only screen and (min-width: 1025px) {
  .flexCol--sucursal-container {
      margin: 0 15px;
  }
  .flexRow--sucursales-info-1 {
    margin-bottom: 30px;
  }
}

/* CONTACTO */
.flexRow--contact-form-wrapper {
  padding: 0px;
}

.flexRowContent--contact-wrapper{
  overflow: hidden;
}

.flexRowContent--contact-form-wrapper {
  flex-direction: column;
}
@media(min-width: 1024px){
  .flexRow--contact-form-wrapper {
    padding: 0 15px;
    max-width: 600px;
  }  
}

/* GRACIAS */
.flexRowContent--gracias-form-wrapper,
.flexRowContent--gracias-text-wrapper {
  display: flex;
  flex-direction: column;
}
.flexRow--gracias-text-wrapper {
  margin-bottom: 60px;
}

/* LANDING CONDICIONES BANCARIAS */
.flexRow--bancos-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 7px;
}

.flexRowContent--bancos-wrapper :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  flex-direction: column;
}

.flexRowContent--bancos-info-wrapper {
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.flexRowContent--bancos-wrapper {
  flex-direction: column;
}

.flexRowContent--bancos-aplica-wrapper {
  justify-content: center;
  align-items: center;
}

.flexRowContent--bancos-item-data-wrapper :global(.vtex-rich-text-0-x-heading-level-6) {
  margin: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
}

.flexRowContent--bancos-item-data-wrapper :global(.vtex-rich-text-0-x-paragraph) {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
}

.flexRowContent--bancos-item-data-wrapper {
  align-items: center;
  justify-content: flex-start;
}

.flexRow--bancos-item-validez {
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
  padding: 12px 30px;
  width: 254px;
}

.flexRow--bancos-item-bandera {
  border-right: 1px solid #707070;
  padding: 5px 30px 5px 30px;
  width: 310px;
}

.flexRow--bancos-item-descuento {
  padding: 12px 30px 12px 30px;
  width: 168px;
}

.flexRow--bancos-aplica-wrapper {
  background: #f3f3f3;
  border-bottom: 3px solid #d0d0d0;
  padding: 10px 0 5px 0;
}

.flexRow--bancos-aplica-wrapper :global(.vtex-rich-text-0-x-paragraph) {
  margin: 0 20px;
  font-size: 14px;
  color: #707070;
  font-weight: 500;
  line-height: 20px;
}

.flexRowContent--bancos-wrapper-item .flexRow--bancos-wrapper {
  border: 1px solid #707070;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px 0;
}

.flexRow--bancos-aplica-wrapper :global(.vtex-rich-text-0-x-paragraph--bancos-aplica-disponible) {
  font-weight: 800;
  text-transform: uppercase;
}

.flexRow--bancos-item-cuotas {
  padding: 10px 30px 10px 30px;
  border-left: 1px solid #707070;
}

.flexRow--bancos-item-data-wrapper {
  padding-bottom: 20px;
}

.flexRow--bancos-legales-wrapper {
  flex-direction: column;
  display: flex;
}

.flexRowContent--bancos-legales-wrapper {
  flex-direction: column;
  padding: 0 20px;
}

.flexRow--bancos-item-banco {
  padding: 0 30px;
  width: 173px;
}

.flexRowContent--bancos-item-banco,
.flexRowContent--bancos-item-bandera {
  justify-content: center;
}

.flexRow--tarjeta-descuentos {
  border-left: 1px solid #707070;
  width: 240px;
}

.flexRow--tarjeta-descuentos-first {
  border-left: 0px !important;
}

.flexRow--tarjeta-descuentos-medicus-1{
  width: 220px;
}

.flexRow--tarjeta-descuentos-medicus-2{
  width: 180px;
}

.flexRow--tarjeta-descuentos-medicus-3{
  width: 330px;
}

.flexRow--banco-item-plan-ahora {
  padding: 0 30px;
}

@media(max-width: 1024px){
  .flexRow--bancos-wrapper {
    padding: 0 5px;
  }
  .flexRowContent--bancos-info-wrapper {
    margin-top: 30px;
  }
  .flexRow--bancos-item-banco {
    width: 110px;
    padding: 0;
  }
  .flexRowContent--bancos-item-data-wrapper :global(.vtex-rich-text-0-x-paragraph) {
      font-size: 12px;
  }
  .flexRowContent--bancos-item-data-wrapper :global(.vtex-rich-text-0-x-heading-level-6) {
      font-size: 17px;
  }

  .flexRow--bancos-item-validez {
      border: 0;
      padding: 0;
      width: auto;
  }
  .flexRow--bancos-item-bandera {
      border: 0;
      padding: 0;
      width: 150px;
  }

  .flexRowContent--bancos-item-data-wrapper {
      justify-content: space-around;
  }

  .flexRow--bancos-item-data-wrapper {
      border-bottom: 1px solid #707070;
      padding: 10px 0;
  }

  .flexRowContent--bancos-wrapper-item .flexRow--bancos-wrapper {
      padding-top: 0;
      padding-bottom: 10px;
  }

  .flexRowContent--bancos-item-aplica-wrapper {
      flex-direction: column;
  }

  .flexRow--bancos-item-aplica-wrapper {
      background: #F3F3F3;
  }

  .flexRow--bancos-aplica {
      display: flex;
  }

  .flexRowContent--bancos-aplica {
      display: flex;
      flex-direction: row;
  }

  .flexRow--bancos-item-descuentos-wrapper {
    padding: 10px 20px;
  }
  .flexRowContent--bancos-wrapper-item .stretchChildrenWidth {
    flex-direction: column;
  }

  .flexRowContent--bancos-wrapper-item .stretchChildrenWidth {
    flex-direction: column;
  }
}

/* LANDING KITLOOK */
.flexRow--kitlook-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 7px;
}

.flexRowContent--kitlook-wrapper :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  flex-direction: column;
}

.flexRowContent--kitlook-info-wrapper {
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 600px;
}

.flexRowContent--kitlook-wrapper {
  flex-direction: column;
}

.flexRow--kitlook-wrapper-line :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.flexRowContent--kitlook-wrapper-line {
  flex-direction: column;
}

.flexRow--kitlook-ambiente-wrapper {
  flex-direction: column;
}

.flexRowContent--kitlook-ambiente-wrapper {
  flex-direction: column;
  text-align: center;
}

.flexRowContent--kitlook-ambiente-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.flexRow--kitlook-ambiente-container{
  background: #f6f6f6;
  margin-bottom: 50px;
}

.flexRowContent--kitlook-ambiente-container :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  padding-right: 7px;
}

.flexRowContent--kitlook-ambiente-container :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  padding-left: 7px;
}

@media(max-width: 1024px){
  .flexRowContent--kitlook-ambiente-container {
      flex-direction: column;
  }
  .flexRowContent--kitlook-ambiente-container .stretchChildrenWidth:last-child {
      padding: 0;
  }
  .flexRowContent--kitlook-ambiente-container .stretchChildrenWidth:first-child {
      padding: 0;
  }
  .flexRowContent--kitlook-ambiente-container {
      padding-bottom: 40px;
  } 
}

/* KITLOOK DETAILS */
.flexRow--kitlook-image-wrapper .vtex-store-components-3-x-container {
  padding: 0;
}

.flexRowContent--kitlook-image-wrapper {
  max-width: 100%;
  justify-content: center;
}

.flexRowContent--kitlook-influencer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.flexRow--kitlook-influencer-wrapper {
  background: #F6F6F6;
  padding: 30px 0;
}

.flexRow--kitlook-kitlook-wrapper {
  margin-top: 15px;
  max-width: 700px;
}

.flexRowContent--kitlook-kitlook-wrapper {
  align-items: center;
}

.flexRowContent--kitlook-products-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  justify-content: center;
}

.flexRow--kitlook-combo-wrapper {
  background: #f6f6f6;
  padding: 60px 0;
}

.flexRowContent--kitlook-combo-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
}

.flexRowContent--kitlook-combo-details {
  flex-direction: column;
}

.flexRow--kitlook-image-wrapper {
  max-height: 490px;
}

.flexRow--kitlook-image-wrapper :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.flexRowContent--kitlook-kitlook-influencer-wrapper {
  flex-direction: column;
}

.flexRowContent--kitlook-kitlook-influencer-wrapper .stretchChildrenWidth:first-child {
  margin-bottom: 15px;
}

@media(max-width: 1024px){
  .flexRowContent--kitlook-kitlook-wrapper {
      flex-direction: column;
  }
  .flexRowContent--kitlook-combo-wrapper {
      flex-direction: column;
  }
  .flexRow--kitlook-combo-wrapper {
      padding: 30px 8px;
  }
  .flexRowContent--kitlook-combo-wrapper .stretchChildrenWidth:first-child .flexRow--kitlook-combo-details {
      border-bottom: 1px solid #707070;
      padding-bottom: 40px;
      margin-bottom: 40px;
  } 
}

/* SHELF PDL */
.flexRow--shelf-product-top-pdl {
  width: 50%;
  display: flex;
  align-items: center;
}

.flexRow--result-top-pdl .stretchChildrenWidth {
    max-width: 850px;
}

.flexRowContent--shelf-product-bottom-pdl :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
  justify-content: flex-start;
}

.flexRowContent--shelf-product-bottom-pdl :global(.vtex-store-components-3-x-skuSelectorItemTextValue) {
  justify-content: left;
  text-align: left;
  position: relative;
  top: 9px;
}

.flexRow--result-top-pdl {
  margin-bottom: 10px;
}

.flexRowContent--result-top-pdl {
  padding: 0 7px;
}

@media (min-width: 1024px){
  .flexRow--result-top-pdl {
    margin-bottom: 30px;
  }
  .flexRowContent--result-top-pdl {
    padding: 0 30px;
    max-width: 910px;
  }  
}

/* 404 */
.flexColChild--not-found-row-info:first-child{
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.ProductErrorPage--wrapper,
.PageErrorPage--wrapper {
max-width: 1200px;
text-align: center;
margin: 0 auto;
padding: 30px 15px;
}
.flexColChild--not-found-row-info .flexRowContent--m3-shelf {
padding: 0 15px;
}
.flexCol--not-found-row-info .flexRowContent--newsletter {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.flexCol--not-found-row-info .flexRow--newsletter {
  justify-content: flex-end;
}

.flexRow--not-found-container {
  width: 100%;
}
@media(min-width: 1024px){
  .flexColChild--not-found-row-info:first-child{

  }
  .ProductErrorPage--wrapper,
  .PageErrorPage--wrapper {
    padding: 40px 0px;
  }  
}

/* LIST HOME */
.flexRow--list-home-wrapper {
  background: #F6F6F6;
  padding: 25px 0 0 0;
}
.flexRowContent--list-home-wrapper {
  justify-content: center;
  flex-direction: column;
}
@media(min-width: 1024px){
  .flexRow--list-home-wrapper {
    padding: 60px 0;
  } 
  .flexRow--list-home-wrapper :global(.vtex-store-components-3-x-container) {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0;
  }
}

/* CUCARDAS */
.flexRowContent--pdp-badges {
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
}
.flexRow--pdp-badges :global(.vtex-product-price-1-x-savings--pdp-badge) {
  margin: 12px 0;
}

.flexRow--pdp-badges :global(.vtex-product-price-1-x-savings-discount--product-badge){
  padding: 2px 5px;  
}
.flexRowContent--product-shelf-price :global(.vtex-product-price-1-x-savings-discount--product-badge) {
  margin: 0;
  padding: 2px 5px;
  font-size: 12px;
}

.flexRowContent--product-shelf-price :global(.vtex-product-price-1-x-savings--pdp-badge) {
  margin: 0 0 0 4px;
}


/* TABS */
.flexRowContent--product-info {
  display: block;
}

.flexRow--product-info :global(.vtex-store-components-3-x-container) {
  padding: 0;
}
@media(min-width:1024px){
  .flexRow--product-info {
    margin-bottom: 50px;
  }
}

/* PRODUCT INFO GENERIC */
.flexRowContent--product-info-generic-row {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  display: flex;
}
.flexRow--product-info-generic-wrapper {
  background: #F6F6F6;
  padding: 40px 0 20px 0;
}
.flexCol--product-info-generic-column {
  background: #ECECE0;
  margin: 0 7px 20px 7px;
  padding: 20px;
}
.flexRowContent--product-info-generic-wrapper {
  max-width: 1240px;
  margin: 0 auto;
  justify-content: center;
}
.flexColChild--product-info-generic-column {
  height: auto !important;
}
.flexRowContent--product-info-generic-row .stretchChildrenWidth {
  justify-content: flex-start;
}
@media(min-width: 1024px){
  .flexRow--product-info-generic-wrapper {
    padding: 40px 0;
  }  
  .vtex-flex-layout-0-x-flexCol--product-info-generic-column {
    margin: 0 15px;
  }
}

/* HOME INFO */
.flexRow--skf-info-home-wrapper {
  margin-bottom: 60px;
}
.flexRowContent--skf-info-home-row {
  flex-direction: column;
}
.flexRow--skf-info-home-row {
  margin: 7px;
  height: 100%;
}

.flexRowContent--skf-info-home-wrapper {
  max-width: 1245px;
  margin: 0 auto;
  justify-content: center;
}

.flexRowContent--skf-info-home-row {
  flex-direction: column;
  align-items: flex-start;
  background: #ECECE0;
  padding: 30px;
  height: 100%;
}

.flexRowContent--skf-info-home-row .stretchChildrenWidth {
  justify-content: flex-start;
}

@media(min-width: 1200px){
  .flexRow--skf-info-home-row {
    margin: 0 15px;
  }  
}

/* CUCARDA AGOTADO */
.flexRow--shelf-unavailable-badge-wrapper {
  position: absolute;
  right: 0;
  bottom: 12px;
}
.flexRowContent--product-details-badges-unavailable {
  margin: 12px 12px 12px 0px !important;
}

/* CUCARDA NUEVO */
.flexRow--shelf-unavailable-badge-wrapper {
  position: absolute;
  right: 0;
  bottom: 12px;
}

.flexRow--shelf-product-new-badges {
  position: absolute;
  top: 11px;
  padding: 0;
}

/* CUCARDA ENVIO GRATIS */
.flexRowContent--shelf-product-bottom-badges :global(.vtex-product-highlights-2-x-productHighlightText--free-shipping) {
  margin: 0 !important;
}

/* FORMULARIO CONTACTO */
.flexRowContent--form-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 7px;
}
.flexRowContent--form-wrapper :global(.vtex-input-prefix__label) {
  display: none;
}

.flexRowContent--form-wrapper :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #485a64;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .3px;
}


.flexRowContent--form-wrapper :global(.vtex-input__label) {
  display: none;
}

.flexRowContent--form-wrapper :global(.vtex-input-prefix__group) {
  margin-bottom: 15px;
  border-radius: 0;
  border: 1px solid #0f58d6;
}

.flexRowContent--form-wrapper :global(.vtex-styleguide-9-x-input) {
  color: #485a64;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .3px;
}

.flexRowContent--form-wrapper :global(.vtex-input-prefix__group)::focus {
  border-color: #88c008;
}

.flexRowContent--form-wrapper :global(.vtex-textarea__label) {
  display: none;
}

.flexRowContent--form-wrapper :global(.vtex-textarea__input) {
  margin-bottom: 15px;
  border: 1px solid #0f58d6;
  border-radius: 0;
  color: #485a64;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .3px;
}

.flexRowContent--form-wrapper :global(.vtex-textarea__input)::placeholder {
  color: #485a64;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .3px;
}

@media(min-width: 1200px){
  .flexRowContent--form-wrapper {
    padding: 60px 0;
  }
}

/* APLICACIONES PDP */
.flexRowContent--productSpecification .stretchChildrenWidth {
  width: 100% !important;
}

.flexRowContent--pdp-spec-aplicaciones-title-wrapper {
  background: #808895;
  padding: 13px 15px;
}


.flexRow--pdp-aplicaciones-specification-wrapper {
  padding: 0;
}

.flexRow--pdp-aplicaciones-specification-wrapper .flexRowContent--productSpecification {
  background: #fff;
  padding: 0;
}

.flexRow--pdp-aplicaciones-specification-wrapper :global(.vtex-skf-aplications-list):nth-child(odd) {
  background: #ebecee;
}

.flexRow--pdp-aplicaciones-specification-wrapper :global(.vtex-skf-aplications-list) {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

:global(.vtex-skf-aplications-list) :global(.vtex-skf-aplications-paragraph) {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #505050;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

:global(.vtex-skf-aplications-brand), :global(.vtex-skf-aplications-model), :global(.vtex-skf-aplications-displacement), :global(.vtex-skf-aplications-year) {
  width: 25%;
  text-align: center;
}

.flexRow--pdp-aplicaciones-specification-wrapper :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.flexRow--pdp-aplicaciones-specification-wrapper :global(.vtex-product-specifications-1-x-specificationValue) {
  padding: 0;
}

.flexRowContent--pdp-spec-aplicaciones-title-wrapper {
  display: flex;
}

.flexRow--pdp-spec-aplicaciones-title-wrapper :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

@media(min-width: 1200px){
  :global(.vtex-skf-aplications-list) :global(.vtex-skf-aplications-paragraph) {
    font-size: 15px;
  }  
}

/* SHELF IDENTIFIER */
.flexRowContent--shelf-name-wrapper {
  flex-direction: column;
}