.productHighlightText--shelf-product {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  max-width: 60px;
  padding: 4px 0;
  font-size: 12px;
  font-weight: 700;
  color: #191919;
  background: #fff;
  text-transform: uppercase;
  border: 1px solid #0f58d6;
}

.productHighlightText--free-shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  background: #46962B;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 10px;
  margin-right: 15px;
  line-height: 16px;
  margin-top: 1px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--pdp-badges) .productHighlightText--free-shipping {
  line-height: 18px;
  padding: 1px 10px;
}

/**/
.productHighlightText-span--badge-cash {
  background: #0F58D6;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 1px 5px;
  margin-right: 10px;
}

.productHighlightText--pdp-badge{
  margin: 12px 12px 12px 0px !important;
}

/* NUEVO */
.productHighlightText--new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  background: #0f58d6;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 1px 10px;
  margin-right: 15px;
  line-height: 16px;
  margin-top: 1px;
}
.productHighlightText--pdp-badge {
  padding: 2px 10px;
}

/* CYBER */
.productHighlightText--cyber {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 10px;
  margin-right: 15px;
  line-height: 16px;
  margin-top: 1px;
  background: #f9b300; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #f9b300 0%, #f8b500 61%, #fbdf93 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #f9b300 0%,#f8b500 61%,#fbdf93 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #f9b300 0%,#f8b500 61%,#fbdf93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b300', endColorstr='#fbdf93',GradientType=1 );
}

/* HOTSALE */
.productHighlightText--hotsale {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  font-weight: 400;
  padding: 0px;
  margin-right: 15px;
  line-height: 11px;
  background: #FF6F00;
  border-radius: 100%;
  width: 42px!important;
  height: 42px;
  margin-top: 6px!important;
  margin-left: 6px!important;
  font-size: 0;
}

.productHighlightText--hotsale::after {
  content: 'Hot Days';
  font-size: 11px;
}

@media(min-width: 1025px){
  .productHighlightText--hotsale {
    margin-top: 8px!important;
    margin-left: 8px!important;
  }  
}

/* REGALO */
.productHighlightText--gift {
  display: flex;
  flex-direction: column;
  align-items: center!important;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  font-weight: 400;
  padding: 0px;
  margin-right: 15px;
  line-height: 11px;
  width: 54px!important;
  height: 57px;
  margin-top: 6px!important;
  margin-left: 6px!important;
  margin: 0 !important;
  font-size: 0;
  background-image: url(assets/svgs/skf-gift.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media(min-width: 1025px){
  .productHighlightText--gift {
    margin: 7px 0 0 7px !important;
  }  
}