.contentContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.listContainer {
  margin: 0 auto 0px auto;
  justify-content: center;
  background: #EBECEE;
  max-width: 100%;
  margin-bottom: 50px;
}

.container--home {
  padding: 0;
}

.listItem {
  padding: 0;
  margin: 0;
}
.listItem :global(.vtex-button) {
  border-radius: 0;
  border: 0;
  height: 60px;
  width: 191px;
  background: transparent;
}
.listItem :global(.vtex-button__label) {
  color: #808895;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}
.listItemActive :global(.vtex-button__label) {
  background: #fff;
}
.listItemActive .listItem :global(.vtex-button) {
  background: #fff;
}