.productGiftListContainer {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.giftListItem
  :global(.vtex-flex-layout-0-x-flexRowContent)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  justify-content: flex-end;
  width: auto !important;
}

.giftListItem {
  padding: 0px 10px;
  margin: 0;
  border-radius: 5px;
  border-color: #c1c1c1;
}

.giftNameText {
  font-size: 13px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.productGiftListContainer
:global(.vtex-flex-layout-0-x-flexColChild) {
    line-height: 16px;
    padding: 0 0 0 10px;
}

.imageElement {
  min-width: 60px !important;
  min-height: 60px !important;
  max-width: 60px !important;
  max-height: 60px !important;
}

@media(max-width: 1024px){
  .productGiftListContainer :global(.vtex-flex-layout-0-x-flexColChild) {
    padding: 0;
  }
  .imageElement {
      min-width: 40px!important;
      min-height: 40px!important;
      max-width: 40px!important;
      max-height: 40px!important;
  }

  .giftNameText {
      padding: 0 0 0 10px;
  } 
}