/*HEADER LOGO */
.logoContainer {
  max-width: 100%;
  min-width: max-content;
  margin: 0;
  padding: 0;
  max-height: none;
}

@media only screen and (max-width: 1026px) {
  .logoLink {
    margin: 0;
    width: 107px;
  }
}
.container {
  max-width: 100%;
}

/* SLIDER */
.imageElementLink--main-gallery{
  line-height: 0;
}

/* SEARCH BAR*/

.portalWrapper :global(.vtex-search-1-x-biggy-autocomplete) {
  top: -2px;
  right: 0;
  z-index: 1000;
  max-width: 550px;
}

@media only screen and (max-width: 1025px) {
  .portalWrapper :global(.vtex-search-1-x-biggy-autocomplete-wrapper) {
    width: 100vw;
    width: calc(100vw - 30px);
  }
  .portalWrapper :global(.vtex-search-1-x-biggy-autocomplete) {
    max-width: 100%;
  }
}

@media only screen and (max-width: 339px) {
  .portalWrapper :global(.vtex-search-1-x-biggy-autocomplete) {
    max-width: 308px;
  }
}

.autoCompleteOuterContainer :global(.vtex-input__suffix) {
  padding: 0;
  border-radius: 0 0px 0px 0;
}
.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
  border-radius: 0px;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  font-size: 16px;
  line-height: 16px;
  color: #485A64;
  max-width: initial !important;
  font-family: "Skf", sans-serif;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #485A64;
}
.searchBarInnerContainer :global(.vtex-search-1-x-itemList--top-search) {
  font-family: "Skf", sans-serif;
}

.searchIcon {
  color: #191919;
  height: 20px;
  width: 20px;
}
.searchBarContainer {
  max-width: 550px!important;
  margin-left: 200px;
}

.searchBarIcon--search {
  padding: 0 12px;
}

@media only screen and (max-width: 1025px) {
  /* .container--footer-newsletter {
    min-height: auto;
  } */
  .searchBarContainer {
    padding: 0 0 8px 0;
    margin-left: 0;
  }
  .searchBarContainer :global(.vtex-styleguide-9-x-input) {
    font-size: 13px;
    line-height: 15px;
    font-weight: 300;
    font-family: "Skf";
    color: black;
  }
  .autoCompleteOuterContainer :global(.vtex-input__suffix) {
    border-radius: 0;
  }
  .searchBarContainer :global(.vtex-input-prefix__group) {
    border-radius: 0;
  }

  .searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder {
    color: black;
  }
}
/* --- */

.swiperCaretPrev {
  display: block;
  background: url(assets/svgs/slide-left-arrow.svg) no-repeat center center !important;
  background-size: contain;
}

.swiperCaretNext {
  display: block;
  background: url(assets/svgs/slide-right-arrow.svg) no-repeat center center !important;
  background-size: contain;
}
.swiperCaretNext,
.swiperCaretPrev {
  padding: 0;
  transform: scale(0.8);
}

.caretIcon {
  opacity: 1;
}

.swiper-pagination {
  align-items: center;
}
.swiperBullet {
  background: #c4c4c4;
  height: 8px !important;
  width: 8px !important;
}

.swiperBullet--active {
  background: transparent;
  border: 1px solid #c4c4c4;
  height: 13px !important;
  width: 13px !important;
}

.headerRowContainer {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px;
  border-radius: 5px;
}
.imageElement--login-mobile {
  margin-right: 15px;
}

.imageElementLink--menu-banner {
  display: block;
  line-height: 0;
  width: 383px;
  height: 229px;
  overflow: hidden;
}
.imageElement--menu-banner {
  transition: transform 0.2s ease;
}
.imageElement--menu-banner:hover {
  transform: scale(1.1);
}

/* Newsletter */
.container--footer-newsletter {
  max-width: 1000px;
  margin: 0;
  padding: 0;
  color: #ffffff;

  min-height: 101px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form--footer-newsletter {
  margin: 0;
  text-align: start;
}

.label--footer-newsletter {
  font-size: 33px;
  font-weight: 100;
  display: block;
  text-align: center;
  letter-spacing: -0.5px;
}

@media only screen and (max-width: 768px) {
  .container--footer-newsletter {
    min-height: auto;
  }
}

.inputGroup--footer-newsletter {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 17px;
  padding: 0;
  position: relative;
}

.label--footer-newsletter::after {
  content: '¡Suscribite para conocer todas las novedades!';
  display: block;
  font-size: 17px;
  font-weight: 300;
  margin: 10px 0 0 0;
  letter-spacing: 0;
}

.inputGroup--footer-newsletter :global(.vtex-input) {
  flex: 1;
  width: 600px;
  position: relative;
}

.inputGroup--footer-newsletter :global(.vtex-input-prefix__group) {
  border: none;
  border-radius: 0;
}

.inputGroup--footer-newsletter :global(.vtex-styleguide-9-x-input) {
  font-size: 16px;
  font-weight: 600;
  color: #485A64;
  border-radius: 0px;
}

.inputGroup--footer-newsletter
  :global(.vtex-styleguide-9-x-input)::placeholder {
    font-size: 16px;
    font-weight: 600;
    color: #485A64;
    border-radius: 0px;
}

.buttonContainer--footer-newsletter {
  flex: 1;
  margin-left: 3px;
  padding: 0;
  position: absolute;
  right: 0;
  width: 157px;
}

.buttonContainer--footer-newsletter :global(.vtex-button) {
  display: block;
  width: 100%;
  border-radius: 0;
  outline: none;
  background: #88C008;
  border: 1px solid #fff;
  transition: background 0.2s linear;
}

.buttonContainer--footer-newsletter :global(.vtex-button__label) {
  padding: 0;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.025em;
}

.inputGroup--footer-newsletter :global(.vtex-input__error) {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 0;
  padding: 4px 16px;
  font-weight: 500;
  color: #ffffff;
  background: #ff4c4c;
}

@media only screen and (max-width: 768px) {

  .label--footer-newsletter{
    width: 100%;
  }

  .form--footer-newsletter {
    margin: 0 auto;
  }

  .inputGroup--footer-newsletter {
    flex-direction: column;
    align-items: stretch;
    position: relative;
    margin-top: 24px;
  }

  .inputGroup--footer-newsletter :global(.vtex-input) {
    position: static;
    width: unset;
  }

  .buttonContainer--footer-newsletter {
    max-width: none;
  }

  .inputGroup--footer-newsletter :global(.vtex-input__error) {
    padding: 2px 8px;
    text-align: center;
  }
}

@media only screen and (min-width: 1026px) {
  .buttonContainer--footer-newsletter :global(.vtex-button):hover {
    background: #0f58d6;
  }

  .buttonContainer--footer-newsletter :global(.vtex-button):active {
    background: #0f58d6;
  }
}

/**/

/* Product */

.productImagesGallerySwiperContainer {
  border: 1px solid #AAAFB8;
}

.productImagesContainer {
  margin: 0 10px;
}

.productImagesThumb {
  margin: 0;
}

.thumbImg {
  margin: auto;
}

.productImagesThumb .figure {
  margin: 0px 20px 15px 0px !important;
  border: 1px solid #AAAFB8;
}

.productImagesThumbActive .figure {
  border-color: #0f58d6;
}

.carouselGaleryCursor {
  margin: 0;
}

.productImageTag {
  display: block;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 16px !important;
  width: 100%;
}

.swiperBullet {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #ffffff;
  border: 1px solid #0f58d6;
  opacity: 1;
  opacity: 1;
}

.swiperBullet--active {
  width: 12px;
  height: 12px;
  border: 1px solid #0f58d6;
  background: #0f58d6;
}

.shareContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shareLabel {
  margin: 16px 0 12px;
  line-height: 15px;
  font-size: 13px;
  font-weight: 400;
  color: #313131;
}

.shareButtons {
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.shareSocialButton {
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.shareSocialIcon {
  display: none;
}

.swiperCaret {
  padding: 0;
}

.swiperCaret .caretIcon {
  display: block;
  color: #b8b8b8;
}

.productNameContainer {
  text-transform: initial;
  margin: 15px 0 15px 0px;
  line-height: 37px;
  font-size: 33px;
  font-weight: 300;
  color: #485A64;
  letter-spacing: -1.5px;
}

.skuSelectorContainer {
  margin-top: 12px;
}

.skuSelectorSubcontainer {
  margin: 0px;
}

.skuSelectorNameContainer {
  margin: 0;
}

.skuSelectorTextContainer {
  margin: 0 0 4px;
}

.skuSelectorName {
  display: inline-flex;
  line-height: 14px;
  font-size: 13px;
  font-weight: 800;
  color: #485A64;
}

.skuSelectorNameSeparator {
  color: #313131;
}

.skuSelectorSelectorImageValue {
  color: #313131;
  font-size: 13px;
}

.skuSelectorOptionsList {
  margin: 0;
}

.skuSelectorItem {
  width: 40px;
  margin: 0 8px 8px 0;
}

.skuSelectorItem :global(.vtex-store-components-3-x-skuSelectorItemTextValue) {
  z-index: 5;
}
.skuSelectorItem--selected
  :global(.vtex-store-components-3-x-skuSelectorItemTextValue) {
  z-index: 5;
  color: white;
}

.skuSelectorItem:hover .skuSelectorInternalBox,
.skuSelectorItem:hover
  :global(.vtex-store-components-3-x-skuSelectorItemTextValue) {
    transition: 0.2s all;
    background-color: #0f58d6;
    color: white;
    border-color: #0f58d6;
}

.frameAround {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border: none;
}
.diagonalCross {
  display: none;
}

.skuSelectorInternalBox {
  border: 1px solid #485A64;
  border-radius: 0;
}

.skuSelectorItem--selected .skuSelectorInternalBox {
  border-color: #0f58d6;
  background: #0d58d6;
}

.valueWrapper {
  margin: 0;
  padding: 0;
}

.skuSelectorItemTextValue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  line-height: 15px;
  font-size: 12px;
  font-weight: 600;
  color: #485A64;
}

.shippingContainer {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin: 15px 0;
}

:global(.vtex-address-form__postalCode) :global(.vtex-input__label) {
  display: inline-flex;
  line-height: 14px;
  font-size: 13px;
  font-weight: 700;
  color: #485A64;
  letter-spacing: -.5px;
  margin-bottom: 6px;
}

.shippingContainer
  :global(.vtex-address-form__postalCode)
  :last-child:not(:global(.vtex-input-prefix__group)):not(:global(.vtex-input__suffix)) {
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    line-height: 14px;
    font-size: 13px;
    font-weight: 700;
    color: #485A64;
    letter-spacing: -.5px;
    margin-bottom: 6px;
}

.shippingContainer :global(.vtex-address-form__postalCode) {
  max-width: 144px;
  padding-bottom: 0;
}

.shippingContainer :global(.vtex__icon-external-link) {
  display: none;
}

.shippingContainer :global(.vtex-input-prefix__group) {
  border: 1px solid #AAAFB8;
  border-radius: 0;
  height: 40px;
}

.shippingContainer :global(.vtex-address-form-4-x-input) {
  padding-left: 10px;
  font-size: 14px;
}

.shippingContainer :global(.vtex-input__suffix) {
  padding: 0 10px 0 0;
}

.shippingContainer :global(.vtex-button) {
  flex: 1;
  height: 40px;
  margin-left: 16px;
  border: none;
  border-radius: 0;
  outline: none;
  background: #AAAFB8;
  transition: 0.2s all;
}

.shippingContainer :global(.vtex-button):hover {
  background-color: #88C008;
  cursor: pointer;
}

.shippingContainer :global(.vtex-button__label) {
  line-height: 16px;
  font-size: 0px;
  font-weight: 500;
  color: #fff;
}

.shippingContainer :global(.vtex-button__label)::before {
  content: "Calcular envío";
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

@media only screen and (max-width: 375px) {
  .shippingContainer :global(.vtex-input__label)::before {
    font-size: 10px;
  }
}

.shippingTable {
  padding: 8px 0 8px 0;
  margin-bottom: 10px;
}

.shippingTableLabel {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #272727;
}

.shippingTableCell {
  font-size: 12px;
  color: #989898;
}

.productDescriptionTitle {
  display: none;
}

.productDescriptionText {
  line-height: 21px;
  font-size: 16px;
  font-weight: 400;
  color: #485A64;
  margin: 0 0 20px;
}

@media only screen and (max-width: 639px) {
  .shareContainer {
    margin: 4px 0 12px;
  }
}

@media only screen and (min-width: 640px) {
  .productImagesContainer {
    padding-right: 17px;
    margin-left: 0;
  }

  .carouselGaleryCursor {
    padding-left: 0;
  }

  .swiperCaret {
    display: none;
  }
  .productNameContainer {
    margin: 0px 0 15px 0px;
  }
}

/**/

/* Footer */

.imageElement--logo-footer {
  margin: 15px 0;
}

.imageElement--footer-vtex-icon {
  margin: 0 14px;
}

.imageElement--footer-lop-icon {
  margin: 0 0 0 14px;
  padding-right: 15px;
  border-right: 1px solid #fff;
}

/**/
/* BREADCRUMB (ACCOUNT) */
.imageElement--breadcrumb-arrow {
  display: block;
  margin: 0 8px;
}

/* ----*/

/* BRANDS CUSTOM PAGES (Adidas, Reebok) */
/* .imageElementLink--brand-menu-logo {
  width: max-content !important;
} */

/* AVISE -ME*/

.subscriberContainer {
  margin: 16px 0;
}
.subscriberContainer .inputName :global(.vtex-input-prefix__group),
.subscriberContainer .inputEmail :global(.vtex-input-prefix__group) {
  border: none;
}

.vtex-store-components-3-x- .vtex-input-prefix__group,
.vtex-store-components-3-x-inputEmail .vtex-input- .inputName,
.inputEmail {
  margin-right: 12px;
}

.inputName :global(.vtex-input-prefix__group),
.inputEmail :global(.vtex-input-prefix__group) {
  height: 36px;
  border: 1px solid #c4c4c4;
}

.inputName :global(.vtex-styleguide-9-x-input),
.inputEmail :global(.vtex-styleguide-9-x-input) {
  color: #7d7d7d;
  font-size: 12px;
  border: 1px solid #0f58d6;
}

.subscriberContainer .title {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #7d7d7d;
}
.subscriberContainer .subscribeLabel {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #7d7d7d;
}

@media only screen and (max-width: 640px) {
  .subscriberContainer .title,
  .subscriberContainer .subscribeLabel {
    text-align: center;
  }
}

.subscriberContainer :global(.vtex-button):disabled,
.subscriberContainer :global(.vtex-button) {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  width: 114px;
  /* width: 100%; */
  height: 36px;
  background: #0f58d6;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s linear;
}

.subscriberContainer :global(.vtex-button):hover {
  background: #0f58d6;
}

.subscriberContainer :global(.vtex-button__label) {
  color: #fff;
  font-size: 13px;
}

.subscriberContainer .content {
  display: flex;
  width: 100%;
  margin-top: 4px;
  max-width: 100%;
}

/* BRANDS (TOP GALLERY) */

.imageElement--brands-top-gallery-banner:hover,
.imageElement--bottom-banner:hover,
.imageElement--top-gallery-banner:hover {
  transition: 0.2s all;
  filter: opacity(0.8);
  cursor: pointer;
}

.imageElement--category-banner {
  max-height: 160px;
  object-fit: cover;
}

.imageElement--mobile-category-banner {
  max-height: 120px;
  object-fit: cover;
}


/* SLIDER COMPONENTS */
.slideChildrenContainer--advantages .slider-brand__item{
  display: block;
}
.imageElementLink--slider-brand__img .imageElement--slider-brand__img {
  transition: .2s all;
}

/* PRODUCT DESCRIPTION */
.description-text {
  display: none;
}

@media only screen and (max-width: 1025px) {
  .productImagesContainer {
    margin: 0px;
  }
}

/* RENGLON */
.skuSelectorContainer--info-product-selector .skuSelectorTextContainer {
  display: none;
}

.skuSelectorContainer--info-product-selector {
  margin: 0;
  pointer-events: none;
}

.skuSelectorItem--info-product-selector--selected {
  width: 100% !important;
  background: transparent !important;
  margin: 0 0 5px 0 !important;
  height: 30px !important;
  pointer-events: none;
}

.skuSelectorInternalBox--info-product-selector {
  border: 0 !important;
  background: transparent !important;
}

.skuSelectorInternalBox--info-product-selector {
  border: 0 !important;
  background: transparent !important;
}

.skuSelectorName--info-product-selector {
  color: #313131!important;
  font-weight: 500!important;
  display: block!important;
  width: 100%!important;
  height: auto!important;
  font-size: 17px!important;
  background: transparent!important;
}

.skuSelectorOptionsList .skuSelectorItem--info-product-selector {
  display: none;
}
.skuSelectorOptionsList .skuSelectorItem--info-product-selector:first-child {
  display: block;
  width: auto;
}

.seeMoreButton {
  display: none;
}

/* GOGIRAF */
.imageElement--go-jiraf-image {
  position: fixed;
  margin-bottom: 0;
  z-index: 10000;
  bottom: 75px;
  right: 10px;
  width: 77px !important;
}
@media(min-width: 1025px){
  .imageElement--go-jiraf-image {
    width: 100px !important;
  }
}

/* LANDING KITLOOK */
.imageElement--kitlook-ambiente-image {
  margin: 30px 0;
}

.imageElementLink--kitlook-slider {
  width: 100%;
}

.imageElementLink--kitlook-social {
  margin: 0 5px;
}

/* WHATSAPP FLOTANTE */
.imageElement--logo-whatsapp {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 999;
}
@media(min-width: 1024px){
  .imageElement--logo-whatsapp {
    bottom: 15px;
    left: 15px;
    width: initial;
  }
}

/* EVENT PAGE - PRE SALE */
.imageElement--pre-event-banner-image-1 {
  margin-bottom: 15px;
}
@media(min-width: 1025px){
  .imageElement--pre-event-banner-image-1 {
    margin-bottom: 0px;
  }
}

/* CONTADOR */
.imageElementLink--pre-event-banner-image {
  margin-bottom: 15px;
}
@media(min-width: 1024px){
  .imageElementLink--pre-event-banner-image {
    margin-bottom: 0px;
  }
}

/* EVENT PAGE - SALE */
@media(min-width: 1025px){
  .imageElement--event-sale-info-logo {
    margin-bottom: 55px;
  }
}

/* 404 */
.ProductErrorPage--title,
.PageErrorPage--title {
  color: #fff;
  font-size: 22px;
  margin: 0 0 15px 0;
  font-weight: 600;
  text-transform: none;
  text-align: left;
}
.ProductErrorPage--subtitle,
.ProductErrorPage--text,
.PageErrorPage--subtitle,
.PageErrorPage--text {
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  margin: 12px 0 auto 0;
}

@media(min-width: 1024px){
  .ProductErrorPage--title,
  .PageErrorPage--title {
    font-size: 30px;
  }
  .ProductErrorPage--subtitle,
  .ProductErrorPage--text,
  .PageErrorPage--subtitle,
  .PageErrorPage--text {
    margin: 0px 0 auto 0;
    font-size: 15px;
  } 
}

/* JOS - MOSAICO */
.imageElement--jos-image {
  padding-bottom: 10px;
}

/* HOME BANNER */
.infoCardTextContainer--banner-home {
  background: #485A64;
  height: 100%;
  padding: 40px 20px;
  justify-content: space-between;
  width: 100%;
}

.infoCardHeadline--banner-home {
  color: #fff;
  font-weight: 300;
  margin: 0;
  line-height: 37px;
  letter-spacing: -.5px;
}

.infoCardSubhead--banner-home {
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  max-width: 320px;
  margin-top: 25px;
}

.infoCardCallActionContainer--banner-home :global(.vtex-button) {
  background: #88C008;
  border: 0;
  font-size: 14px;
  font-weight: 300;
  border-radius: 0;
  padding: 0 12px;
  transition: all .3s;
}

.infoCardCallActionContainer--banner-home {
  margin: 60px 0 0 0;
}

.infoCardCallActionContainer--banner-home :global(.vtex-button):hover {
  background: #0f58d6;
}

.infoCardContainer--banner-home{
  padding: 0;
}

.infoCardImage--banner-home{
  width: 100%;
}

.infoCardContainer--banner-home {
  padding: 0;
  display: flex;
}

.infoCardTextContainer--banner-home {
  order: 2;
}

.infoCardImageContainer {
  line-height: 0;
}

@media(max-width:1023px){
  .infoCardContainer--banner-home {
    flex-direction: column;
  }
}

@media(min-width: 1024px){
  .infoCardTextContainer--banner-home {
    padding: 45px;
    max-width: 40%;
  }  
  .infoCardImageContainer--banner-home-row-1 {
    width: 60%;
    padding-right: 18px;
  }
  
  .infoCardImageContainer--banner-home-row-2 {
    width: 60%;
    padding-left: 18px;
  }

  .infoCardTextContainer--banner-home {
    order: initial;
  }
}