.specificationName {
  color: #485A64;
  font-weight: 500;
  font-size: 15px;
  display: block;
  margin-bottom: 2px;
}
.specificationValue {
  font-size: 15px;
  color: #505050;
  font-weight: 400;
  display: block;
}

.specificationName::after {
  content: ':';
}

@media only screen and (max-width: 1025px) {
  .specificationValue {
    font-size: 13px;
    color: #505050;
    font-weight: 500;
    display: block;
    line-height: 23px;
    padding-left: 10px;
  }
  .specificationName {
    color: #485A64;
    font-weight: 600;
    font-size: 13px;
    display: block;
    margin-bottom: 0;
  }
  .flexColChild--productSpecificationName {
    display: flex;
    align-items: center;
  }
}