.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 24px auto 15px auto;
  padding: 0 15px;
}

.link,
.term {
  padding: 0;
  text-transform: uppercase;
  line-height: 12px;
  font-size: 9px;
  color: #AAAFB8;
  font-weight: 500;
}

.link:hover,
.link:focus {
  outline: none;
  color: #AAAFB8;
}

.homeLink::after {
  content: "Home";
  display: block;
}

.homeIcon {
  display: none;
}

.arrow {
  display: flex;
  align-items: center;
  padding: 0;
}

.caretIcon {
  margin: 0 8px;
  color: #AAAFB8;
}

.homeLink {
  display: none;
}
.arrow--1 .caretIcon {
  display: none;
}

@media only screen and (max-width: 1025px) {
  .container {
    padding: 0 16px;
  }
}
