/* Product */

.quantitySelectorContainer--product {
  margin: 0 8px 0 0;
}

.quantitySelectorTitle--product {
  margin: 0 0 4px;
  display: inline-flex;
  line-height: 14px;
  font-size: 13px;
  font-weight: 700;
  color: #485A64;
  letter-spacing: -.5px;
  margin-bottom: 6px;
}

.quantitySelectorStepper--product :global(.vtex-numeric-stepper__input) {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  border-radius: 0;
  outline: none;
  font-size: 14px;
  font-weight: 500;
}

.quantitySelectorStepper--product :global(.vtex-numeric-stepper__minus-button),
.quantitySelectorStepper--product :global(.vtex-numeric-stepper__plus-button) {
  width: 22px !important;
  height: 40px;
  border: 1px solid #777;
  color: #777;
  border-radius: 0px;
  outline: none;
  background: transparent;
}

.quantitySelectorStepper--product
  :global(.vtex-numeric-stepper__minus-button__text),
.quantitySelectorStepper--product
  :global(.vtex-numeric-stepper__plus-button__text) {
  font-size: 15px;
}

/**/
