.buttonDataContainer {
  font-weight: 500;
  font-size: 13.5px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  letter-spacing: -.3px;
}

.tooltipLabelText{
  font-size: 0;
}
.tooltipLabelText::after{
  content: 'Por favor seleccionar un talle';
  font-size: 14px;
}