/* TOP-BAR */

.paragraph--top-bar__text {
  font-family: "Skf";
  font-size: 10px;
  color: #313131;
  margin: 0;
}

.paragraph--top-bar__text .link--top-bar__text {
  text-decoration: none;
  color: #313131;
}

.paragraph--top-bar {
  margin: 0;
  font-size: 13px;
  color: #0f58d6;
  letter-spacing: -.3px;
  font-weight: 400;
}

/* DEALS */
.paragraph--deals-title {
  color: #0F58D6;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  letter-spacing: -.5px;
}

.paragraph--deals-subtitle {
  color: #808895;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  letter-spacing: -.3px;
}

/* HEADER */

.paragraph--main-header__cuotas {
  font-family: "Skf";
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  max-width: 168px;
  color: white;
}

@media only screen and (max-width: 1025px) {
  .paragraph--main-header__cuotas {
    font-weight: 500;
    font-size: 11px;
    line-height: 20px;
    max-width: 100%;
    margin: 4px 0;
  }
}

/* MENU */
.wrapper--mobile-menu-item {
  flex: 1;
}

.paragraph--mobile-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 12px 4px;
  text-transform: uppercase;
  line-height: 17px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.paragraph--mobile-menu-item::after {
  content: "";
  width: 12px;
  height: 12px;
  background: url("assets/svgs/arrow-right-menu.svg") right center no-repeat;
  filter: invert(1);
}

.paragraph--mobile-menu-item-solo {
  margin: 0;
  width: 100%;
  padding: 12px 4px;
  border: none;
  line-height: 17px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

/* SHELF TITLE  */
/* ------------------------------------------------------------------------ */
.heading--block-title {
  margin: 0 0 10px 7px;
  line-height: 30px;
  font-size: 25px;
  font-family: "Skf";
  font-weight: 500;
  color: #485A64;
  letter-spacing: -1px;
}

.paragraph--block-title {
  font-family: "Skf";
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.28px;
  color: #313131;
  max-width: 504px;
  margin: 0 0 20px;
}

.paragraph--block-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.6px;
}

@media(min-width: 1024px){
  .heading--block-title {
    font-size: 30px;
  }
}

/* --- */

/* BRANDS HEADING   */
/* ------------------------------------------------------------------------------------ */

.paragraph--brands-carousel-heading {
  font-family: "Skf";
  font-weight: 500;
  color: #313131;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

/* Footer */

.heading--footer-title {
  margin: 0 0 14px;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  letter-spacing: -.3px;
}

.paragraph--footer-paragraph {
  margin: 0;
  font-family: 'Skf';
  font-weight: 500;
  font-size: 11px;
  color: #fff;
  letter-spacing: .3px;
}

.paragraph--footer-copyright {
  margin-left: 14px;
}

/**/

/* ENCONTRALO POR DEPORTE */

.paragraph--encontralo-txt {
  margin: 0;
  text-decoration: none;
  letter-spacing: 0.56px;
  color: #313131;
  font-family: "Skf";
  font-size: 14px;
}

/* Institutional  */

.paragraph--breadcrumb {
  margin: 0;
  line-height: 12px;
  font-size: 10px;
  font-weight: 500;
  color: #b8b8b8;
}

.container--institutional-content {
  width: 100%;
  max-width: 676px;
}

.heading--institutional-content {
  margin: 0 0 24px;
  line-height: 28px;
  font-size: 23px;
  font-weight: 500;
  color: #313131;
  letter-spacing: -.8px;
}

.headingLevel2--institutional-content {
  font-size: 15px;
  font-weight: 700;
  color: #0f58d6;
  letter-spacing: -.2px;
}

.headingLevel4--institutional-content {
  font-size: 18px;
}
.headingLevel5--institutional-content {
  font-size: 18px;
}
.headingLevel6--institutional-content {
  font-size: 15px;
  font-weight: 500;
  color: #0f58d6;
}

.link--institutional-content {
  color: #0f58d6;
  text-decoration: none;
  font-weight: 500;
}

.paragraph--institutional-content {
  margin: 0 0 16px;
  line-height: 22px;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
}

.list--institutional-content .listItem--institutional-content {
  margin: 0 0 16px;
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
}

.listOrdered--institutional-content {
  padding-left: 15px;
}


@media only screen and (max-width: 1025px) {
  .container--institutional-content {
    padding-top: 0px;
  }

  .heading--institutional-content {
    margin: 0 0 16px;
  }
}

@media only screen and (min-width: 1026px) {
  .container--institutional-content {
    padding: 0 15px;
  }
}

/**/
/* ACCOUNT */

.container--account-title {
  justify-content: center;
  max-width: 1024px;
  margin: 56px auto 24px;
  padding-bottom: 24px;
  border-bottom: 0.5px solid #31313180;
}

@media only screen and (max-width: 576px) {
  .container--account-title {
    max-width: 95%;
  }
}

.heading--account-title {
  margin: 0;
  text-align: center;
  font-family: "Skf";
  font-size: 23px;
  font-weight: 400;
  color: #272727;
}

/**/

/* BREADRUMB (ACCOUNT) */
.paragraph--breadcrumb {
  margin: 0;
  line-height: 12px;
  font-size: 10px;
  font-weight: 500;
  color: #b8b8b8;
}
/* ----*/

/* Not Found */

.heading--not-found-title {
  margin: 0 0 8px;
  line-height: 22px;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
}

.heading--not-found-subtitle {
  margin: 0 0 24px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.paragraph--not-found-description {
  margin: 0 0 60px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

/* CATEGORY */
.wrapper--slider-brand__text {
  width: 100%;
  text-align: center;
}
.link--slider-brand__text {
  color: #131313;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  transition: 0.2s all;
}
.paragraph--slider-brand__text {
  margin: 0;
}

/* PRODUCT INFO */
.paragraph--product-info-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 0 20px;
  color: #485A64;
  letter-spacing: -.5px;
}

.paragraph--product-info-text {
  margin: 5px 0 0 20px;
  font-size: 12px;
  line-height: 10px;
  color: #808895;
  letter-spacing: -.2px;
}

.paragraph--product-info-generic-text {
  font-weight: 500;
  letter-spacing: -.5px;
  font-size: 16px;
}

.paragraph--help-shipping {
  margin: 0 0 5px 0;
  font-size: 13px;
  line-height: 20px;
}

.headingLevel3--skf-info-home-title {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: -2px;
  margin: 0;
  color: #485A64;
}

.paragraph--skf-info-home-text {
  letter-spacing: -.5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.vtex-rich-text-0-x-paragraph--skf-info-home-text {
  color: #485A64;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: .5px;
}
@media(min-width: 1025px){
  .wrapper--skf-info-home-text {
    height: 152px;
  }
}

/* PRODUCT SPECIFICATION */
.wrapper--specification-title {
  width: 100%;
}

.wrapper--specification-title .heading-level-3 {
  font-size: 18px;
  color: #313131;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #d2d2d2;
  width: 100%;
  padding-bottom: 10px;
}

/* CUCARDA AGOTADO */
.paragraph--badge-product-unavailable {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  margin: 1px 10px;
}

.wrapper--badge-product-unavailable {
  background: #485A64;
}

.paragraph--shelf-product-unavailable {
  text-align: left;
  display: block;
  font-weight: 500;
  color: #808895;
  font-size: 12px;
  width: auto;
  margin: 0;
}

/* FORMULARIO CONTACTO */
.heading--form-title {
  margin: 0 0 18px 0px;
  line-height: 30px;
  font-size: 33px;
  font-family: "Skf";
  font-weight: 500;
  color: #485A64;
  letter-spacing: -.9px;
}

.link--form-text {
  text-decoration: none;
  color: #0f58d6;
}

.paragraph--form-text {
  font-weight: 500;
  letter-spacing: -.3px;
  font-size: 15px;
}

/* APLICACIONES PDP */
.paragraph--pdp-spec-aplicaciones-title {
  color: #fff;
  font-weight: 500;
  margin: 0;
}
.paragraph--product-info-title-disclosure {
  font-weight: 500;
  letter-spacing: -.5px;
}

/* SHELF CART */
.paragraph--cart {
  margin: 0;
  text-align: center;
  font-weight: 700;
  color: #000;
  line-height: 17px;
}

.container--cart {
  align-items: center;
}

.paragraph--shelf-cart {
  margin: 0 0 0 15px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  color: #485a64;
  padding: 0;
}

/* POPUP NEWSLETTER */
.paragraph--popup-title {
  font-size: 19px;
  line-height: 20px;
  margin-bottom: 5px;
  font-weight: 500;
  margin-top: 15px;
  letter-spacing: -.3px;
}
.paragraph--popup-subtitle {
  font-size: 13px;
  margin: 8px 0 2px 0;
}
.container--form-success-newsletter .paragraph--popup-title {
  margin-bottom: 0;
  margin-top: 25px;
  line-height: 30px;
}
.paragraph--form-newsletter-text {
  font-size: 13px;
  margin-top: 0;
  font-weight: 500;
  color: #3f3f40;
}
@media(min-width: 1024px){
  .paragraph--popup-title {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 26px;
  }
  .paragraph--popup-subtitle {
    font-size: 15px;
    margin: 8px 0 15px 0;
  } 
}

/* BANNER SHELF */
.container--shelf-product-title-mobile {
  background: #0f58d6;
  justify-content: flex-start;
  padding: 15px;
  margin-bottom: 15px;
}

.paragraph--shelf-product-title-mobile {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  font-size: 33px;
  font-family: "Skf";
  font-weight: 400;
}

/* CONTADOR */
.container--countdown {
  justify-content: flex-end;
  width: auto !important;
}
.paragraph--countdown {
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -.5px;
  margin-right: 15px;
}

.wrapper--countdown {
  height: 100%;
  display: flex;
  align-items: center;
}

/* NOSOTROS */
.paragraph--about-text {
  color: #485A64;
  font-size: 13px;
  line-height: 20px;
}

.headingLevel1--about-text {
  color: #485A64;
  line-height: 33px;
  font-size: 28px;
  font-weight: 500;
  margin: 0 0 25px 0;
}

@media(min-width: 1200px){
  .headingLevel1--about-text {
    font-size: 32px;
  }  
  .paragraph--about-text {
    font-size: 14px;
  }
}

/* PLACA */
.container--placa{
  background: #f8f8f8;
  padding: 25px 15px 10px;
}
.headingLevel1--placa {
  color: #485a64;
  line-height: 33px;
  font-size: 28px;
  font-weight: 500;
  margin: 0 0 25px;
}

.paragraph--placa {
  color: #485a64;
  font-size: 13px;
  line-height: 20px;
}
@media(min-width: 1024px){
  .wrapper--placa {
    max-width: 1200px;
    margin: 0 auto;
  }
}