/* Footer */

.socialNetworkLink {
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 18px;
}

.socialNetworkLink--instagram {
  background-image: url("assets/svgs/skf-icon-instagram.svg");
  background-size: 15px;
  width: 15px;
  height: 15px;
}

.socialNetworkLink--facebook {
  background-image: url("assets/svgs/skf-icon-facebook.svg");
  background-size: 7.5px;
  width: 8px;
  height: 15px;
}

.socialNetworkLink--youtube {
  background-image: url("assets/svgs/skf-icon-youtube.svg");
  background-size: 18px;
  width: 18px;
  height: 15px;
}

.socialNetworkLink--twitter {
  background-image: url("assets/svgs/skf-icon-twitter.svg");
  background-size: 18px;
  width: 22px;
  height: 15px;
}

.socialNetworksContainer {
  margin: 0;
}

.socialNetworkImage {
  opacity: 0;
}

@media only screen and (max-width: 1025px) {
  .socialNetworkWrapper {
    margin-top: 18px;
  }
}

/**/
