@media(min-width:1025px){
    .flexRow--product-main-content{
        margin-top: 4rem;
    }
}

.flexRowContent--product-prices{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flexRow--product-main-content .flexRowContent--product-prices{
    justify-content: flex-start;
}

/* nombre de producto */
.flexRow--product-name-pdp{
    margin-bottom: 10px;
}

/* precio de producto */

.flexRow--product-prices{
    margin-top: 0;
    margin-bottom: 12px;
}

/* boton de compra */

.flexRowContent--cart-button-pdp{
    margin-top: 24px;
}

.flexRowContent--cart-button-pdp :global(.vtex-button){
    width: 253px;
    height: 44px;
    background: #DF3856;
    border: none;
    border-radius: 0px;
    transition: all ease-in-out 250ms;
}

.flexRowContent--cart-button-pdp :global(.vtex-button):hover{
    background: #E46262;
}

:global(.vtex-add-to-cart-button-0-x-buttonText){
    font-size: 12px;
    color: #fff;
}

@media(max-width:1025px){
    .flexRow--product-prices{
        margin-bottom: 4px;
    }
    :global(.vtex-add-to-cart-button-0-x-buttonText){
        text-wrap:nowrap;
    }
}