.relatedProducts--productos-relacionados-pdp{
    margin-top: 10rem;
    padding: 0px 4rem;
    max-width: initial;
}

@media(min-width:992px){
    .relatedProducts--productos-relacionados-pdp{
        max-width: 1200px !important;
        padding: 0px;
    }
}

.title--productos-relacionados-pdp{
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    margin-bottom: 50px;
    justify-content: flex-start;
    color: #231F20;
}

:global(.vtex-product-summary-2-x-container--shelf-product){
    box-shadow: none;
    border-radius: 0px;
}

@media(max-width:991px){
    .relatedProducts--productos-relacionados-pdp{
        margin-top: 0;
        padding: 0px 18px;
        max-width: initial;
        background: #EFEFEF;
        margin-bottom: 0px;
        margin-top: 20px;
    }

    .shelfContentContainer--productos-relacionados-pdp{
        padding-top: 56px;
        padding-bottom: 56px;
    }
}


/* variantes de producto como color */
.shelfContentContainer--related-products-sku-filter {
    flex-direction: column;
}
.shelfContentContainer--related-products-sku-filter::before{
    content: "Selecciona tu color";
    font-size: 12px;
    display: block;
    margin-top: 24px;
    margin-bottom: 8px;
}
:global(.vtex-flex-layout-0-x-flexRow--shelf-product-bottom) .shelfContentContainer--related-products-sku-filter::before {
    display: none;
} 

.relatedProducts--related-products-sku-filter{
    padding-left: 0px;
}

.relatedProducts--related-products-sku-filter{
    margin-bottom: 0;
}

.shelfContentContainer--related-products-sku-filter {
    padding-bottom: 0;
}
:global(.vtex-flex-layout-0-x-flexRow--product-main-content) .sliderContainer--related-products-sku-filter :global(.vtex-slider-0-x-sliderFrame){
    justify-content: flex-start;
}

.slide--related-products-sku-filter{
    padding: 0px;
    margin-right: 10px;
}