/* precio tachado */

.listPriceValue--product-list-pdp{
    text-decoration: none;
}

.currencyContainer--product-list-pdp{
    font-size: 20px;
    letter-spacing: 0.32px;
    color: #A8A8A8;
    text-decoration: line-through !important;
    text-decoration-color: #A8A8A8;
    margin-right: 10px;
}

.currencyDecimal--product-list-pdp {
    display: none;
}
.currencyFraction--product-list-pdp {
    display: none;
}

/* precio normal */

.currencyContainer--product-selling-pdp{
    font-size: 20px;
    letter-spacing: 0.32px;
    color: #231F20;
}
.currencyDecimal--product-selling-pdp {
    display: none;
}
.currencyFraction--product-selling-pdp {
    display: none;
}



/* cucarda descuento */

.savings--pdp-discount{
    background: #BD202E;
}

.savingsPercentage--pdp-discount{
    font-size: 12px;
    padding: 4px 10px;
    color: #fff ;
    display: block;
}

@media(max-width:1025px){
    .savings--pdp-discount{
        background: #60AA6C;
    }
    
    .savingsPercentage--pdp-discount{
        font-size: 11px;
    }
    .currencyContainer--product-list-pdp{
        font-size: 20px;
    }
    .currencyContainer--product-selling-pdp{
        font-size: 20px;
    }
}