.search-container{
    display: flex;
    flex-direction: column;
    max-height: 382px;
    margin: 70px 0;
}
.search-container .search-step > label,
.search-container .search-departament > label{
    display: flex;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    align-items: center;
    gap: 8px;
    margin-bottom: 9px;
    margin-top: 9px;
    display: none;
}
.selects svg{
    width: 22px !important;
    height: 22px !important;
}
.search-container .search-step > label > span,
.search-container .search-departament > label > span {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 0;
    background-color: #46962b;
    border-radius: 50%;
    display: none;
}
.search-header{
    text-align: left;
    position: relative;
    margin: 0 0 10px 7px;
    line-height: 30px;
    font-size: 30px;
    font-family: "Skf";
    font-weight: 500;
    color: #fff;
    letter-spacing: -1px;
}

.search-header-content{
    display: flex;
    justify-content: center;
}
.search-body{
    flex: 1;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 35px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    background: #485A64;
}
.search-departament{
    
}
.search-steps{
    display: flex;
    -moz-column-gap: 15px;
    column-gap: 15px;
    padding: 0;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.selects>div>div>div>div>div>span{
    font-size: 15px !important;
    line-height: 26px;
    color: #212529;
}
.search-step{
    opacity: .5;
    pointer-events: none;
    width: 16.66666667%;
}
.search-step:last-child{
    width: 25%;
}
.search-step-active{
    opacity: 1 !important;
    pointer-events: all !important;
}
.search-first-step{
    display: flex;
    justify-content: center;
    gap: 18px;
}
.search-first-step >div{
    border-radius: 50%;
}
.dp{
    background-color: #fff;
    cursor: pointer;
}
.active-dp{
    background-color: #E03A00;
    position: relative;
}

.search-btn{
    pointer-events: none;
    background-color: #46962B;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: 0;
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 18px;
    align-self: flex-end;
    height: 40px;
    width: auto;
    padding: 0 80px;
    font-weight: 400;
}
.search-btn-active{
    opacity: 1 !important;
    pointer-events: all !important;
    background-color: #88c008;
    cursor: pointer;
}
.selects>div>div>div>div {
    border: 1px solid #ced4da;
    border-radius: 0;
}

.selects>div>div>div>div {
    background-color: #e9ecef;
}

.search-step-active .selects>div>div>div>div {
    background: #fff;
}

:global(.css-h54wua-menu) {
    z-index: 3 !important;
}

@media screen and (min-width:1024px) {
    .dp{
        height: 128px;
        width: 128px;
    }
}
@media screen and (max-width:1024px) {
    .search-container{
        max-height: unset;
        background-color: unset;
        box-shadow: unset;
        margin: 15px 0 30px !important;
    }
    .search-body{
        padding: 15px;
        background: transparent;
        gap: 0;
    }
    .search-header-content{
        flex-direction: column;
        gap: 5px;
    }
    .search-header{
        font-size: 25px;
    }
    .search-first-step{
        gap: 10px;
    }
    .search-steps{
        padding: 0 25px;
        gap: 5px;
        padding: 0;
        flex-direction: column;
    }
    .search-step {
        width: 100%;
    }
    .search-departament > label{
        justify-content: center;
    }
 
    .search-container .search-step > label,
    .search-container .search-departament > label{
        font-size: 13px;
    }
    .search-btn{
        margin: 0 auto;
        justify-self: center;
        align-self: center;
        width: 100%;
    }
    .active-dp span{
        display: flex !important;
        justify-content: center;
        align-items: center;
        top: calc(100% + 9px);
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 16px;
        position: absolute;
        width: 100%;
    }
    .selects [class*="singleValue"]{
        color: #424242;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 15px;
    }
}