@font-face {
  font-family: "Skf";
  src: url(assets/fonts/SKFChevinOT-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "Skf";
  src: url(assets/fonts/SKFChevinOT-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Skf";
  src: url(assets/fonts/SKFChevinOT-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Skf";
  src: url(assets/fonts/SKFChevinOT-DemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Skf";
  src: url(assets/fonts/SKFChevinOT-Bold.ttf);
  font-weight: 700;
}