/* Minicart */
.openIconContainer--minicart {
    padding: 0;
}

.openIconContainer--minicart :global(.vtex-button) {
    border: none;
    outline: none;
}

.openIconContainer--minicart :global(.vtex-button):hover,
.openIconContainer--minicart :global(.vtex-button):focus {
    background: none;
}

.openIconContainer--minicart :global(.vtex-button__label) {
    padding: 0;
}

.minicartIconContainer--minicart {
    display: flex;
    align-items: center;
}

.minicartQuantityBadge--minicart {
    position: absolute;
    width: 18px;
    height: 18px;
    padding: 0;
    font-size: 10px;
    font-weight: 500;
}

.overlay--minicart {
    background: #000000;
}

.drawerContent--minicart{
    /* padding: 0px 25px; */
}

.closeIconContainer--minicart {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}

.closeIconContainer--minicart::before{
    content: "Tu carrito";
    font-size: 13px;
    letter-spacing: 0.26px;
}


.closeIconButton--minicart {
    width: 20px;
    height: 20px;
    padding: 0;
    outline: none;
    /* background: url(assets/svgs/close-icon.svg) center no-repeat; */
    background-size: cover;
}

.closeIcon--minicart {
    width: 100%;
    height: 100%;
    /* display: none; */
}

.minicartTitle {
    display: none;
    /* margin: 0;
    padding: 32px 16px 26px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bold;
    color: #434343; */
}

.minicartProductListContainer {
    padding: 0px 25px;
}


.minicartContentContainer{
    margin-top: 4rem;
}

@media(max-width:991px){
    .minicartContentContainer{
        margin-top: 2rem;
    } 
}

.minicartCheckoutButton {
    padding: 0;
    margin: 0;
}

.minicartCheckoutButton :global(.vtex-button) {
    height: 42px;
    border: none;
    border-radius: 0;
    outline: none;
    background: #bd202e;
    transition: background 0.2s linear;
}

.minicartCheckoutButton :global(.vtex-button__label) {
    font-size: 0px;
    font-weight: normal;
    color: #ffffff;
}

.minicartCheckoutButton :global(.vtex-button__label)::after {
    content: "Comprar";
    display: block;
    font-size: 15px;
    letter-spacing: 0.3px;
    color: #fff;
}

:global(.vtex-toast-container){
    display: none;
}

@media only screen and (min-width: 1026px) {
    .minicartCheckoutButton :global(.vtex-button):hover {
        background: #a01924;
    }

    .minicartCheckoutButton :global(.vtex-button):active {
        background: #a01924;
    }

    :global(.vtex-toast-container){
        display: block;
    }
}


.minicartSummary {
    padding: 0;
}