/* Menu */

.openIconContainer {
    flex: 1;
    padding: 0;
}

.drawer--mobile-menu {
    padding: 0 12px;
}

.childrenContainer--mobile-menu {
    flex-direction: column;
}

.closeIconContainer--mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #0093CC;
    margin-bottom: 15px;
}

.closeIconContainer--primary-tab::before {
    content: "";
    width: 204px;
    height: 31px;
    background: url("assets/svgs/swissbrand.svg") center no-repeat;
}

.closeIconButton--mobile-menu {
    display: flex;
    align-items: center;
    padding: 17px 0;
    outline: none;
}

.closeIconButton--secondary-tab::before {
    content: "";
    width: 16px;
    height: 26px;
    background: url("assets/svgs/luz-de-mar-icon-menu-mobile-drawer-left.svg") left center no-repeat;
}

.closeIconButton--secondary-tab::after {
    content: "VOLVER";
    line-height: 13px;
    font-size: 11px;
    color: #434343;
}

.closeIcon--mobile-menu {
    display: block;
    width: 26px;
    height: 26px;
}

.closeIcon--secondary-tab {
    display: none;
}

.childrenContainer :global(.vtex-button) {
    display: flex;
    align-items: center;
}

.childrenContainer :global(.vtex-button)::after {
    content: "INGRESAR";
    font-size: 14px;
    font-weight: bold;
    color: #434343;
}

.childrenContainer :global(.vtex-button__label) {
    padding: 0 30px 0 0;
    background-position: left;
}

.overlay {
    background: #000000;
}

/* EVENTO */
.drawer--mobile-menu-evento {
    background-color: #313131;
  }
  
  .closeIconContainer--mobile-menu-evento {
    border-color: white;
  }
  
  .closeIcon--mobile-menu-evento {
    filter: invert(100%);
}

/* MENU MOBILE CYBER */
.openIconContainer--mobile-menu-cyber {
    background: linear-gradient(
45deg,rgb(40,201,248) 0%,rgb(113,55,230) 100%);
    color: #fff;
    font-weight: 500;
}
.openIconContainer--mobile-menu-cyber :global(.vtex-rich-text-0-x-paragraph--mobile-menu-item) {
    color: #fff;
}