/* Search */

.searchResultContainer {
    padding: 0;
    min-width: 100%;
    margin-bottom: 24px;
}

.galleryTitle--layout {
    margin: 0;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 2.82px;
    font-size: 20px;
    font-weight: normal;
    color: #434343;
    width: 340px !important;
}

.totalProducts--layout {
    padding: 0;
    border: none;
    line-height: 16px;
    font-size: 13px;
    color: #231F20;
    text-transform: none;
    font-weight: 400;
}

.totalProductsMessage {
    color: #231F20;
    text-transform: none;
    font-weight: 400;
}

.orderByDropdown {
    padding: 0;
}

.orderByButton {
    padding: 0;
    border: none;
}

.filterPopupTitle {
    display: block;
    line-height: 12px;
    font-size: 10px;
    font-weight: bold;
    color: #1f1f1f;
}

.orderByText {
    /* margin-right: 16px; */
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #231F20;
    text-transform: capitalize;
}

.filterPopupArrowIcon {
    padding: 0 5px;
}
.filtersWrapperMobile .filterPopupArrowIcon {
    display: none;
}

.orderByOptionsContainer {
    z-index: 10;
    border: none;
    box-shadow: 0px 3px 6px #0000001c;
    top: 55px;
}

.orderByOptionItem {
    outline: none;
    font-family: "Montserrat";
    font-size: 12px;
    color: #3d3c3c;
}

.orderByOptionItem--selected {
    background: #BD202E;
    color: #fff;
    font-weight: 500;
}

.gallery {
    margin: 0;
    padding: 0;
    padding-left: 40px;
}

.galleryItem {
    padding: 10px;
}

:global(.vtex-flex-layout-0-x-flexRow--shelf-product-bottom) :global(.vtex-shelf-1-x-relatedProducts--related-products-sku-filter) {
    padding: 0px;
    height: auto;
}
:global(.vtex-flex-layout-0-x-flexRow--shelf-product-bottom) :global(.vtex-shelf-1-x-relatedProducts--related-products-sku-filter) :global(.vtex-slider-0-x-sliderFrame) {
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    /* padding-top: 10px; */
}
:global(.vtex-flex-layout-0-x-flexRow--product-main-content) :global(.vtex-shelf-1-x-slide--related-products-sku-filter) {
    padding: 0px;
    height: auto;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 50px !important;
}
:global(.vtex-flex-layout-0-x-flexRow--shelf-product-bottom) :global(.vtex-shelf-1-x-relatedProducts--related-products-sku-filter) :global(.vtex-shelf-1-x-slide--related-products-sku-filter) {
    padding: 0px;
    height: auto;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 20px !important;
}
:global(.vtex-shelf-1-x-relatedProducts--related-products-sku-filter) :global(.vtex-shelf-1-x-slide--related-products-sku-filter) :global(.vtex-product-summary-2-x-element) {
    padding: 0px;
}
:global(.vtex-flex-layout-0-x-flexRow--shelf-product-bottom) :global(.vtex-flex-layout-0-x-flexRowContent--product-prices) {
    justify-content: center;
}


.buttonShowMore--layout :global(.vtex-button) {
    background: #BD202E;
    width: 213px;
    height: 43px;
    border: none;
    border-radius: initial;
    transition: all 350ms ease-in-out;
}

.buttonShowMore--layout :global(.vtex-button__label) {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.buttonShowMore--layout :global(.vtex-button):hover {
    background: #E46262;
  }
.notFound--layout {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    padding: 0;
}

@media only screen and (max-width: 1025px) {
    .searchResultContainer {
        /* padding: 0 18px; */
    }
    .gallery {
        padding: 0 18px;
    }
    .buttonShowMore--layout {
        padding: 0 18px;
    }
    .galleryItem :global(.vtex-shelf-1-x-relatedProducts--related-products-sku-filter) {
        padding: 0px;
        height: fit-content;
    }
    .gallery {
        padding-left: 0px;
    }
    .galleryTitle--layout {
        margin-bottom: 15px;
        padding: 0 16px;
        text-align: center;
        width: auto;
    }

    .orderBy--layout {
        height: 38px;
    }

    .orderByDropdown {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .orderByButton {
        justify-content: flex-end;
    }

    .orderByText {
        display: block;
        margin: 0;
        font-size: 10px;
        font-weight: 400;
        line-height: 13px;
    }

    .totalProducts--layout {
        line-height: 13px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-bottom: 36px;
    }

    .notFound--layout {
        min-height: 420px;
    }
}

@media only screen and (min-width: 1026px) {
    .orderByOptionsContainer {
        top: 30px;
    }
}

/**/




/* Search */

.filter__container {
    padding: 30px 0;
    border-bottom: 0;
}

.filter__container--title {
    display: none;
}

.filter__container--category-1 .filterTitle {
    font-size: 0;
}

.filter__container--category-1 .filterTitle::before {
    content: 'Categoria principal';
    font-size: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: #231F20;
    text-transform: capitalize;
}

.filter__container--category-3 .filterTitle {
    font-size: 0;
}

.filter__container--category-3 .filterTitle::before {
    content: 'Tipo de producto';
    font-size: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: #231F20;
    text-transform: capitalize;
}
.filter__container--priceRange .filterTitle {
    font-size: 0;
}

.filter__container--priceRange .filterTitle::before {
    content: 'Precio';
    font-size: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: #231F20;
    text-transform: capitalize;
}

.filterItem--kitlook,
.filterAccordionItemBox--kitlook {
    display: none;
}

.filter {
    padding: 0;
}

.filter :first-child {
    outline: none;
}

.filterSelected {
    margin-bottom: 16px;
}

.filterSelected .filterTitle {
    text-transform: capitalize;
    color: #b8b8b8;
}
.filtersWrapper {
    margin-top: 30px;
}

.filterTitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: #231F20;
    text-transform: uppercase;
    border-bottom: 0.5px solid #231F20;
    padding-bottom: 20px;
    text-transform: capitalize;
}

.filterIcon {
    padding: 0;
}

.caretIcon {
    width: 10px;
    height: 10px;
    color: #303030;
}

.filterTemplateOverflow {
    max-height: none !important;
    overflow: visible;
    padding: 0;
}

.filterContent {
    padding-top: 15px;
}
/* 
.filterContent--Color {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16px);
    gap: 14px;
} */

/* .filterItem:not(.filterItem-Color):not(:last-child) {
    margin: 0 0 14px;
} */

.filterItem-Color {
    display: flex;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.2s linear;
    border: 0;
}

.filterItem--ColorImage{
    border: 1px solid #b8b8b8;
    width: 20px !important;
}

.filterItem-Color:hover {
    opacity: 0.7;
}

/* .filterItem-Color :nth-child(n) {
    border-radius: 100%;
    cursor: pointer;
} */

.filterItem-Color--selected {
    padding: 0px;
    border: 0 !important;
}

.filterItem--ColorName{
    display: none;
    line-height: 15px;
    font-size: 12px;
    color: #3d3c3c;
}

.filterItem--ColorImage:hover,.filterItem--ColorImage:active{
    opacity: 1;
}

.filterItem-Color--selected .filterItem--ColorImage{
    opacity: 1;
    border: 2px solid #BD202E !important;
}

@media only screen and (max-width: 1025px){
    .filterItem--ColorImage{
        border: 1px solid #b8b8b8;
        margin-right: 4px;
    }
}


@media only screen and (max-width: 1025px){
    .filterItem-Color {
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        border: none;
        border-bottom: 1px solid #b8b8b8;
        padding: 12px 0px;
        cursor: pointer;
        transition: opacity 0.2s linear;
    }
    .filterItem--ColorName{
        display: block;
    }
}

.filterItem :global(.vtex-checkbox__line-container) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterItem :global(.vtex-checkbox__inner-container) {
    margin: 0;
    border: 1px solid #707070;
    border-radius: 2px;
    background: #ffffff;
}

.filterItem :global(.vtex-checkbox__box) {
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    background: #b8b8b8;
    opacity: 0;
    pointer-events: none;
}

.filterItem--selected :global(.vtex-checkbox__box) {
    background: #6a6a6b;
    opacity: 1;
    pointer-events: all;
}

.filterItem:hover :global(.vtex-checkbox__box) {
    opacity: 1;
    pointer-events: all;
}

.filterItem :global(.vtex__icon-check) {
    opacity: 0;
}

.filterItem :global(.vtex-checkbox__label) {
    line-height: 15px;
    font-size: 12px;
    color: #231F20;
}

.filterItem--unisex{
    display: none;
}

.filterTemplateOverflow :global(.vtex-slider-container) {
    margin-top: 8px;
}

.filterTemplateOverflow :global(.vtex-slider__left-value),
.filterTemplateOverflow :global(.vtex-slider__right-value),
.filterTemplateOverflow :global(.vtex-slider__dash) {
    font-size: 15px;
    font-weight: 400;
    line-height: 18.4px;
    color: #231F20;
}

.filterTemplateOverflow :global(.vtex-slider__selector),
.filterTemplateOverflow :global(.vtex-slider__base-internal) {
    background: #434343;
}
:global(.vtex-slider__base) {
    height: 2px !important;
}

/* .filterPopupArrowIcon {
    display: none;
} */

.accordionFilter {
    padding: 45px 20px;
}

@media only screen and (max-width: 1025px) {
    .filterPopupButton {
        flex: 1;
        height: 38px;
        padding: 0;
        border: none;
        outline: none;
        justify-content: flex-start;
    }

    .filterPopupTitle {
        display: block;
        margin: 0;
        font-size: 10px;
        font-weight: 400;
        line-height: 13px;
        font-weight: normal;
        color: #434343;
        text-transform: capitalize;
    }

    .accordionFilter {
        padding-bottom: 105px;
    }

    .filterAccordionBreadcrumbs {
        display: none;
    }

    .filterBreadcrumbsContent,
    .filterBreadcrumbsItem {
        padding: 0;
        outline: none;
    }

    .filterBreadcrumbsItem {
        margin-left: 8px;
    }

    .filterBreadcrumbsText,
    .filterBreadcrumbsItemName {
        font-size: 15px;
        font-weight: 500;
    }

    .filterBreadcrumbsText {
        font-weight: 500;
        color: #434343;
    }

    .filterBreadcrumbsItemName {
        padding: 0 0 0 8px;
        color: #b8b8b8;
    }

    .closeIconButton{
        display: flex;
        padding: 15px;
    }

    .accordionFilterContainer {
        padding: 22px 0;
    }

    .filterAccordionItemBox {
        min-height: auto;
        padding: 12px 0px;
        border-bottom: solid 1px #a8a8a8;
    }
    .accordionFilterOpen .filterAccordionItemBox {
        border: none !important;
    }
    .filterAccordionItemBox--unisex {
        display: none;
    }
    .sidebar .accordionFilterContent .accordionFilterItemTitle::after {
        content: ":";
    }
    .sidebar .filterAccordionItemBox--sub-categoria .accordionFilterItemTitle::after {
        content: 'Tipo de producto:' !important;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        color: #231F20;
    }

    .accordionFilterItem {
        border-bottom: 1px solid #a8a8a8;
        padding: 18px 0;
    }

    .accordionFilterContent {
        display: flex;
        align-items: center;
        padding: 0;
    }

    .accordionFilterItemTitle {
        order: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        color: #231F20;
    }

    .filterAccordionItemBox--gama-de-precios .accordionFilterItemTitle {
        font-size: 0;
    }

    .filterAccordionItemBox--gama-de-precios .accordionFilterItemTitle::after {
        content: 'Precio';
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        color: #231F20;
    }
    .filter__container--priceRange .filterAvailable .filterTitle {
        display: none;
    }

    .filterAccordionItemBox--departamento .accordionFilterItemTitle {
        font-size: 0;
    }

    .filterAccordionItemBox--departamento .accordionFilterItemTitle::after {
        content: 'Cateogria principal';
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        color: #231F20;
    }

    .filterAccordionItemBox--sub-categoria .accordionFilterItemTitle {
        font-size: 0;
    }

    .filterAccordionItemBox--sub-categoria .accordionFilterItemTitle::after {
        content: 'Tipo de producto:';
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        color: #231F20;
    }
    .accordionSelectedFilters {
        order: 1;
    }

    .accordionFilterItemTag :global(.vtex-tag) {
        display: none;
        padding: 2px 12px;
        border: 1px solid #dedede;
        font-size: 10px;
        font-weight: 400;
        color: #FFF;
        background: #434343;
    }

    .accordionFilterItemIcon {
        margin-left: auto;
        order: 3;
        /* transform: rotate(-90deg); */
    }

    .filterButtonsBox {
        height: auto;
        border-top: 1px solid #dedede;
        display: flex;
        padding: 12px;
    }


    .filterClearButtonWrapper,
    .filterApplyButtonWrapper {
        padding: 0;
        border-radius: 5px;
    }

    .filterClearButtonWrapper {
        border-right: 1px solid #dedede;
    }

    .filterClearButtonWrapper{
        background-color: #6d6d6d;
        margin-bottom: 0px;
    }

    .filterApplyButtonWrapper{
        background-color: #BD202E;
    }

    .filterClearButtonWrapper :global(.vtex-button),
    .filterApplyButtonWrapper :global(.vtex-button) {
        display: block;
        min-height: auto;
        padding: 12px 0;
        border: none;
        outline: none;
        background: transparent;
    }

    .filterClearButtonWrapper :global(.vtex-button__label),
    .filterApplyButtonWrapper :global(.vtex-button__label) {
        padding: 0 !important;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.1em;
        color: #FFF;
    }

    .accordionFilterOpen,
    .accordionFilterItemOptions {
        padding: 0 0 20px;
        margin-left: -3rem;
    }

    .filterAccordionItemBox :global(.vtex-checkbox__line-container) {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .filterAccordionItemBox :global(.vtex-checkbox__inner-container) {
        margin: 0;
        border: 1px solid #231F20;
        border-radius: 0;
        background: #ffffff;
    }

    .filterAccordionItemBox :global(.vtex__icon-check) {
        width: 0;
        height: 0;
        padding: 4px;
        border-radius: 2px;
        background: #6a6a6b;
    }

    .filterAccordionItemBox :global(.vtex-checkbox__label) {
        font-size: 13px;
        font-weight: 400;
        line-height: 15.85px;
        color: #231F20;
    }

    .filter__container--priceRange {
        padding: 16px;
        border: none;
    }
}
  :global(.vtex-flex-layout-0-x-flexCol--filters) {
    width: 300px !important;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filterContent {
    display: flex;
    flex-wrap: wrap;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filterItem {
    padding: 8px 0;
  }

  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color {
    cursor: auto;
    border: none !important;
    box-shadow: none !important;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--selectedFilters {
    display: none;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color :global(.vtex-checkbox__container) {
    display: none;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color :global(.vtex-checkbox__label) {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #dcdcdc;
    /* border-radius: 50%; */
    width: 18px;
    height: 18px;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--selected {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 8px !important;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--selected::before {
    content: " ";
    position: absolute;
    border: 1px solid #000;
    width: 22px;
    height: 22px;
    /* border-radius: 50%; */
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem {
    width: 27px;
    height: 27px;
    padding: 3px 0;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--blanco :global(.vtex-checkbox__label) {
    background-color: #ffffff;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--negro :global(.vtex-checkbox__label) {
    background-color: #000000;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--gris-melange-claro :global(.vtex-checkbox__label) {
    background-color: #cccccc;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--gris-melange-medio :global(.vtex-checkbox__label) {
    background-color: #8c8a8c;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--gris-melange-oscuro :global(.vtex-checkbox__label) {
    background-color: #8a8a8a;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--gris :global(.vtex-checkbox__label) {
    background-color: #615c61;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--gris-claro :global(.vtex-checkbox__label) {
    background-color: #e3e0e3;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--gris-medio :global(.vtex-checkbox__label) {
    background-color: #a1a1a1;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--gris-oscuro :global(.vtex-checkbox__label) {
    background-color: #424242;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--azul :global(.vtex-checkbox__label) {
    background-color: #2035ab;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--azul-claro :global(.vtex-checkbox__label) {
    background-color: #557efa;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--azul-oscuro :global(.vtex-checkbox__label) {
    background-color: #0d00bd;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--azul-francia :global(.vtex-checkbox__label) {
    background-color: #3c00ff;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--verde :global(.vtex-checkbox__label) {
    background-color: #8aeb9e;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--verde-claro :global(.vtex-checkbox__label) {
    background-color: #b7e6ac;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--verde-oscuro :global(.vtex-checkbox__label) {
    background-color: #0a8f1a;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--verde-militar :global(.vtex-checkbox__label) {
    background-color: #7c9909;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--rosa :global(.vtex-checkbox__label) {
    background-color: #ffc9ff;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--rosa-claro :global(.vtex-checkbox__label) {
    background-color: #ffcfcf;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--rosa-oscuro :global(.vtex-checkbox__label) {
    background-color: #8f3967;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--fucsia :global(.vtex-checkbox__label) {
    background-color: #ff75ff;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--rojo :global(.vtex-checkbox__label) {
    background-color: #ff0000;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--rojo-claro :global(.vtex-checkbox__label) {
    background-color: #ff3d3d;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--rojo-oscuro :global(.vtex-checkbox__label) {
    background-color: #c70000;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--bordeaux :global(.vtex-checkbox__label) {
    background-color: #a10303;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--nude :global(.vtex-checkbox__label) {
    background-color: #fae1bb;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--crudo :global(.vtex-checkbox__label) {
    background-color: #f5ecc1;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--off-white :global(.vtex-checkbox__label) {
    background-color: #f7fbfc;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--vison :global(.vtex-checkbox__label) {
    background-color: #dbdac3;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--celeste :global(.vtex-checkbox__label) {
    background-color: #7ac9e6;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--violeta :global(.vtex-checkbox__label) {
    background-color: #7d2c7d;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--topo :global(.vtex-checkbox__label) {
    background-color: #3b3933;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--tostado :global(.vtex-checkbox__label) {
    background-color: #968d6a;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--aqua :global(.vtex-checkbox__label) {
    background-color: #afe6f5;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--turquesa :global(.vtex-checkbox__label) {
    background-color: #00bcf5;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--rosa-melange :global(.vtex-checkbox__label) {
    background-color: #fa7ffa;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--crudo-c-melange :global(.vtex-checkbox__label) {
    background-color: #bdbdb6;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--crudo-c-rosa :global(.vtex-checkbox__label) {
    background-color: #fad2fa;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--crudo-c-celeste :global(.vtex-checkbox__label) {
    background-color: #9fdee6;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--crudo-c-negro :global(.vtex-checkbox__label) {
    background-color: #4b4d3e;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--coral :global(.vtex-checkbox__label) {
    background-color: #3c00ff;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--petroleo :global(.vtex-checkbox__label) {
    background-color: #147fb8;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--nude-oscuro :global(.vtex-checkbox__label) {
    background-color: #3c00ff;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--crudo-apto :global(.vtex-checkbox__label) {
    background-color: #e6e8a7;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--beige :global(.vtex-checkbox__label) {
    background-color: #d9b289;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--habano :global(.vtex-checkbox__label) {
    background-color: #ab4228;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--bordo :global(.vtex-checkbox__label) {
    background-color: #8f1e1e;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--marino :global(.vtex-checkbox__label) {
    background-color: #052da6;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--blanco-sucio :global(.vtex-checkbox__label) {
    background-color: #052da6;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--plata-vieja :global(.vtex-checkbox__label) {
    background-color: #cccccc;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--niquel-mate :global(.vtex-checkbox__label) {
    background-color: #b8b7ab;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--niquel :global(.vtex-checkbox__label) {
    background-color: #737373;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--bronce :global(.vtex-checkbox__label) {
    background-color: #c25004;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--plata :global(.vtex-checkbox__label) {
    background-color: #848687;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--cobre :global(.vtex-checkbox__label) {
    background-color: #8e402a;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--niquel :global(.vtex-checkbox__label) {
    background-color: #737373;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--cobre-viejo :global(.vtex-checkbox__label) {
    background-color: #96964f;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--rosa-viejo :global(.vtex-checkbox__label) {
    background-color: #c2b4c2;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--uva :global(.vtex-checkbox__label) {
    background-color: #7e15a1;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--lila :global(.vtex-checkbox__label) {
    background-color: #af96ff;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--amarillo-claro :global(.vtex-checkbox__label) {
    background-color: #fff654;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--amarillo-medio :global(.vtex-checkbox__label) {
    background-color: #f0d84f;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--negro-c-azul :global(.vtex-checkbox__label) {
    background-color: #060d4d;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--militar-c-rosa :global(.vtex-checkbox__label) {
    background-color: #1c5409;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--militar-c-crudo :global(.vtex-checkbox__label) {
    background-color: #064d00;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--camuflado :global(.vtex-checkbox__label) {
    background-color: #1c6313;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--negro-c-gris :global(.vtex-checkbox__label) {
    background-color: #4d4d4d;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--amarillo :global(.vtex-checkbox__label) {
    background-color: #f0f011;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--crudo-melange :global(.vtex-checkbox__label) {
    background-color: #e3d1dc;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--aero :global(.vtex-checkbox__label) {
    background-color: #488dc9;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--camel :global(.vtex-checkbox__label) {
    background-color: #bf701c;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--verde-ingles :global(.vtex-checkbox__label) {
    background-color: #33780b;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--cobre-brillante :global(.vtex-checkbox__label) {
    background-color: #c9631a;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--cobre-mate :global(.vtex-checkbox__label) {
    background-color: #ba481a;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--negro-lurex :global(.vtex-checkbox__label) {
    background-color: #2e2e2e;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--naranja :global(.vtex-checkbox__label) {
    background-color: #ff9d00;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--metalico :global(.vtex-checkbox__label) {
    background-color: #9ea1a3;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--marron :global(.vtex-checkbox__label) {
    background-color: #9c8983;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--ladrillo-brick :global(.vtex-checkbox__label) {
    background-color: #f0670c;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--celeste-claro :global(.vtex-checkbox__label) {
    background-color: #91e9ff;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--oro-rosa :global(.vtex-checkbox__label) {
    background-color: #d4b126;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--dorado :global(.vtex-checkbox__label) {
    background-color: #e6aa29;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--peltre :global(.vtex-checkbox__label) {
    background-color: #5e5d58;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--transparente :global(.vtex-checkbox__label) {
    background-color: transparent;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--suela :global(.vtex-checkbox__label) {
    background-color: #ab4b2e;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--blanco-c-plata :global(.vtex-checkbox__label) {
    background-color: #ffffff;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--lavanda :global(.vtex-checkbox__label) {
    background-color: #c963eb;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--negro-agrisado :global(.vtex-checkbox__label) {
    background-color: #3d3d3d;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--salmon :global(.vtex-checkbox__label) {
    background-color: #ff7c73;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--mostaza :global(.vtex-checkbox__label) {
    background-color: #ccbc08;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--newbeige :global(.vtex-checkbox__label) {
    background-color: #d6bfca;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--lila2 :global(.vtex-checkbox__label) {
    background-color: #d98bd9;
  }
  /* :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--unico :global(.vtex-checkbox__label) {
    background-image: url("assets/multicolor.png");
  }
  :global(.vtex-flex-layout-0-x-flexCol--filters) .filter__container--color .filterItem--multicolor :global(.vtex-checkbox__label) {
    background-image: url("assets/multicolor.png");
  } */
  .sidebar .accordionFilterOpen--color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox {
    width: 16.6%;
    cursor: auto;
    border: none !important;
    box-shadow: none !important;
    justify-content: center;
    align-items: center;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox :global(.vtex-checkbox__container) {
    display: none;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox :global(.vtex-checkbox__label) {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #dcdcdc;
    /* border-radius: 50%; */
    width: 32px;
    height: 32px;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--blanco :global(.vtex-checkbox__label) {
    background-color: #ffffff;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--negro :global(.vtex-checkbox__label) {
    background-color: #000000;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--gris-melange-claro :global(.vtex-checkbox__label) {
    background-color: #cccccc;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--gris-melange-medio :global(.vtex-checkbox__label) {
    background-color: #8c8a8c;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--gris-melange-oscuro :global(.vtex-checkbox__label) {
    background-color: #8a8a8a;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--gris :global(.vtex-checkbox__label) {
    background-color: #615c61;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--gris-claro :global(.vtex-checkbox__label) {
    background-color: #e3e0e3;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--gris-medio :global(.vtex-checkbox__label) {
    background-color: #a1a1a1;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--gris-oscuro :global(.vtex-checkbox__label) {
    background-color: #424242;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--azul :global(.vtex-checkbox__label) {
    background-color: #2035ab;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--azul-claro :global(.vtex-checkbox__label) {
    background-color: #557efa;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--azul-oscuro :global(.vtex-checkbox__label) {
    background-color: #0d00bd;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--azul-francia :global(.vtex-checkbox__label) {
    background-color: #3c00ff;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--verde :global(.vtex-checkbox__label) {
    background-color: #8aeb9e;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--verde-claro :global(.vtex-checkbox__label) {
    background-color: #b7e6ac;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--verde-oscuro :global(.vtex-checkbox__label) {
    background-color: #0a8f1a;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--verde-militar :global(.vtex-checkbox__label) {
    background-color: #7c9909;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--rosa :global(.vtex-checkbox__label) {
    background-color: #ffc9ff;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--rosa-claro :global(.vtex-checkbox__label) {
    background-color: #ffcfcf;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--rosa-oscuro :global(.vtex-checkbox__label) {
    background-color: #8f3967;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--fucsia :global(.vtex-checkbox__label) {
    background-color: #ff75ff;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--rojo :global(.vtex-checkbox__label) {
    background-color: #ff0000;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--rojo-claro :global(.vtex-checkbox__label) {
    background-color: #ff3d3d;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--rojo-oscuro :global(.vtex-checkbox__label) {
    background-color: #c70000;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--bordeaux :global(.vtex-checkbox__label) {
    background-color: #a10303;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--nude :global(.vtex-checkbox__label) {
    background-color: #fae1bb;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--crudo :global(.vtex-checkbox__label) {
    background-color: #f5ecc1;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--off-white :global(.vtex-checkbox__label) {
    background-color: #f7fbfc;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--vison :global(.vtex-checkbox__label) {
    background-color: #dbdac3;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--celeste :global(.vtex-checkbox__label) {
    background-color: #7ac9e6;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--violeta :global(.vtex-checkbox__label) {
    background-color: #7d2c7d;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--topo :global(.vtex-checkbox__label) {
    background-color: #3b3933;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--tostado :global(.vtex-checkbox__label) {
    background-color: #968d6a;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--aqua :global(.vtex-checkbox__label) {
    background-color: #afe6f5;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--turquesa :global(.vtex-checkbox__label) {
    background-color: #00bcf5;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--rosa-melange :global(.vtex-checkbox__label) {
    background-color: #fa7ffa;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--crudo-c-melange :global(.vtex-checkbox__label) {
    background-color: #bdbdb6;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--crudo-c-rosa :global(.vtex-checkbox__label) {
    background-color: #fad2fa;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--crudo-c-celeste :global(.vtex-checkbox__label) {
    background-color: #9fdee6;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--crudo-c-negro :global(.vtex-checkbox__label) {
    background-color: #4b4d3e;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--coral :global(.vtex-checkbox__label) {
    background-color: #3c00ff;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--petroleo :global(.vtex-checkbox__label) {
    background-color: #147fb8;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--nude-oscuro :global(.vtex-checkbox__label) {
    background-color: #3c00ff;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--crudo-apto :global(.vtex-checkbox__label) {
    background-color: #e6e8a7;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--beige :global(.vtex-checkbox__label) {
    background-color: #d9b289;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--habano :global(.vtex-checkbox__label) {
    background-color: #ab4228;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--bordo :global(.vtex-checkbox__label) {
    background-color: #8f1e1e;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--marino :global(.vtex-checkbox__label) {
    background-color: #052da6;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--blanco-sucio :global(.vtex-checkbox__label) {
    background-color: #052da6;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--plata-vieja :global(.vtex-checkbox__label) {
    background-color: #cccccc;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--niquel-mate :global(.vtex-checkbox__label) {
    background-color: #b8b7ab;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--niquel :global(.vtex-checkbox__label) {
    background-color: #737373;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--bronce :global(.vtex-checkbox__label) {
    background-color: #c25004;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--plata :global(.vtex-checkbox__label) {
    background-color: #848687;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--cobre :global(.vtex-checkbox__label) {
    background-color: #8e402a;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--niquel :global(.vtex-checkbox__label) {
    background-color: #737373;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--cobre-viejo :global(.vtex-checkbox__label) {
    background-color: #96964f;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--rosa-viejo :global(.vtex-checkbox__label) {
    background-color: #c2b4c2;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--uva :global(.vtex-checkbox__label) {
    background-color: #7e15a1;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--lila :global(.vtex-checkbox__label) {
    background-color: #af96ff;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--amarillo-claro :global(.vtex-checkbox__label) {
    background-color: #fff654;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--amarillo-medio :global(.vtex-checkbox__label) {
    background-color: #f0d84f;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--negro-c-azul :global(.vtex-checkbox__label) {
    background-color: #060d4d;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--militar-c-rosa :global(.vtex-checkbox__label) {
    background-color: #1c5409;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--militar-c-crudo :global(.vtex-checkbox__label) {
    background-color: #064d00;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--camuflado :global(.vtex-checkbox__label) {
    background-color: #1c6313;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--negro-c-gris :global(.vtex-checkbox__label) {
    background-color: #4d4d4d;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--amarillo :global(.vtex-checkbox__label) {
    background-color: #f0f011;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--crudo-melange :global(.vtex-checkbox__label) {
    background-color: #e3d1dc;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--aero :global(.vtex-checkbox__label) {
    background-color: #488dc9;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--camel :global(.vtex-checkbox__label) {
    background-color: #bf701c;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--verde-ingles :global(.vtex-checkbox__label) {
    background-color: #33780b;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--cobre-brillante :global(.vtex-checkbox__label) {
    background-color: #c9631a;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--cobre-mate :global(.vtex-checkbox__label) {
    background-color: #ba481a;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--negro-lurex :global(.vtex-checkbox__label) {
    background-color: #2e2e2e;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--naranja :global(.vtex-checkbox__label) {
    background-color: #ff9d00;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--metalico :global(.vtex-checkbox__label) {
    background-color: #9ea1a3;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--ladrillo-brick :global(.vtex-checkbox__label) {
    background-color: #f0670c;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--celeste-claro :global(.vtex-checkbox__label) {
    background-color: #91e9ff;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--oro-rosa :global(.vtex-checkbox__label) {
    background-color: #d4b126;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--dorado :global(.vtex-checkbox__label) {
    background-color: #e6aa29;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--peltre :global(.vtex-checkbox__label) {
    background-color: #5e5d58;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--transparente :global(.vtex-checkbox__label) {
    background-color: transparent;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--suela :global(.vtex-checkbox__label) {
    background-color: #ab4b2e;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--blanco-c-plata :global(.vtex-checkbox__label) {
    background-color: #ffffff;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--lavanda :global(.vtex-checkbox__label) {
    background-color: #c963eb;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--negro-agrisado :global(.vtex-checkbox__label) {
    background-color: #3d3d3d;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--salmon :global(.vtex-checkbox__label) {
    background-color: #ff7c73;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--mostaza :global(.vtex-checkbox__label) {
    background-color: #ccbc08;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--newbeige :global(.vtex-checkbox__label) {
    background-color: #d6bfca;
  }
  .sidebar .accordionFilterOpen--color .filterAccordionItemBox--lila2 :global(.vtex-checkbox__label) {
    background-color: #d98bd9;
  }