/* SUCURSALES */
.listContainer--store-list .listItem--tab-list :global(.vtex-button) {
    font-size: 13px;
    min-height: 35px;
    border-radius: 3px;
    padding: 0 30px;
    transition: .3s;
    background: #434343;
    width: 100%;
}

.listContainer--store-list .listItemActive--tab-list :global(.vtex-button) {
    background: #BD202E;
    font-weight: 600;
    border: 0;
}

.listContainer--store-list .listItem--tab-list :global(.vtex-button__label) {
    padding: 0;
    color: #fff;
}

.listContainer--store-list .listItemActive--tab-list :global(.vtex-button__label) {
    border: 0;
}

.listContainer--store-list .listItem--tab-list :global(.vtex-button):hover {
    background: #BD202E;
    color: #fff;
    text-decoration: none;
}

.listContainer--store-list .listItem--tab-list {
    margin: 0;
    width: calc(100% - 20px);
}

.listContainer--store-list {
    margin: 10px 0 40px 0;
    justify-content: space-around;
    margin-left: 0px;
    flex-direction: row;
}
@media(min-width: 1026px){
    .listContainer--store-list .listItem--tab-list :global(.vtex-button__label) {
        border-bottom: 1px solid transparent;
    }
    
    .listContainer--store-list .listItemActive--tab-list :global(.vtex-button__label) {
        border-bottom: 1px solid #fff;
    }
    
    .listContainer--store-list .listItem--tab-list :global(.vtex-button):hover :global(.vtex-button__label) {
        border-bottom: 1px solid #fff;
    }
    .listContainer--store-list .listItem--tab-list,
    .listContainer--store-list .listItem--tab-list :global(.vtex-button) {
        width: auto;
    }
    .listContainer--store-list {
        margin: 20px 0 50px 0;
        justify-content: flex-start;
        margin-left: 5px;
    }    
}

/* PDP Specs */

.listContainer--product-specs {
    /* margin-bottom: 50px; */
    justify-content: flex-start;
    border-bottom: 1px solid #000;
    display: flex;
    gap: 30px;
}




.listItem--product-specs {
    padding: 0;
    margin: 0;
}

.listItem--product-specs :global(.vtex-button) {
    height: 40px;
    border: none;
    border-radius: 0;
    
}

.listItem--product-specs :global(.vtex-button) :global(.vtex-button__label) {
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
    color: #999092 !important;
    padding: 0px;
    padding-bottom: 30px !important;
}


.listItem--product-specs{

}

.listItemActive--product-specs :global(.vtex-button) :global(.vtex-button__label){
    color: #000 !important;
}

.listItem--product-specs :global(.vtex-button){
    background:none;
}

.listItemActive--product-specs :global(.vtex-button) {
    
}

.contentItem--product-specs {
    margin: 0;
    font-size: 15px;
    line-height: normal;
    text-align: left;
    color: #727273;
}

@media only screen and (max-width: 1025px) {
    .listItem--product-specs {
        width: 100%;
    }

    .listItem--product-specs :global(.vtex-button) {
        width: 100%;
    }
}


.contentItem--product-specs :global(.vtex-product-specifications-1-x-specificationValue){
    font-size: 14px;
    color: #000;
}


@media(max-width:991px){

    .contentItem--product-specs{
        margin-top: 40px ;
    }
    
    .listContainer--product-specs {
        flex-direction: row;
        padding: 0px 15px;
    }

    .listItem--product-specs {
       width: auto;
    }
}
