/* Product */

.dotsContainer {
    display: flex;
    align-items: center;
    bottom: -22px;
    margin: 0;
    padding: 0;
}

:global(.vtex-shelf-1-x-sliderContainer--complete-look-shelf) .dotsContainer {
    display: none;
}

:global(.vtex-shelf-1-x-sliderContainer--productos-relacionados-pdp) .dotsContainer {
    display: none;
}

/**/
