/* Shelf */

/* .container--shelf-product {
    box-shadow: 0px 3px 6px #0000001c;
    border-radius: 5px;
} */

.container--complete-look {
    box-shadow: none;
    border: 0.5px solid #D0D0D0;
    border-radius: 0;
}

.element--shelf-product {
    padding: 0;
    background: #ffffff;
}

.imageContainer--shelf-product {
    display: flex;
}

.nameContainer--shelf-product {
    justify-content: flex-start;
    margin-bottom: 8px;
    padding: 0;
}

.brandName--shelf-product {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.4px;
    color: #231F20;
    /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    text-transform: capitalize;
}

.nameWrapper--shelf-product{
    width: 100%;
    text-align: left;
}

.image {
    height: auto !important;
    vertical-align: middle;
}

.skuSelectorItemImageValue--pdl-sku-selector-color{
    width: auto !important;
    height: auto !important;
}

.element--shelf-product-kitlook .nameContainer--shelf-product {
    padding-top: 7px;
}

.element--shelf-product-kitlook .image {
    max-height: fit-content;
}

.element--complete-look {
    flex-direction: row;
}

.container--complete-look {
    max-width: 605px !important;
}
.container--shelf-product {
    position: relative;
    transition: all 250ms ease-in-out;
}
.container--shelf-product .clearLink--shelf-product:first-child:hover{
    transition: all 250ms ease-in-out;
}
.container--shelf-product .clearLink--shelf-product:first-child:hover .element--shelf-product {
    opacity: 0.6;
    transition: all 250ms ease-in-out;
}
.container--shelf-product .clearLink--shelf-product:first-child::before {
    content: "Ver más";
    background-color: #BD202E;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 44px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    z-index: 4;
    transition: all 250ms ease-in-out;
    display: none;
}
.container--shelf-product .clearLink--shelf-product:first-child::before:hover {
    background-color: #E46262;
}
.container--shelf-product .clearLink--shelf-product:first-child:hover::before {
    display: flex;
    transition: all 250ms ease-in-out;
}

@media only screen and (max-width: 1025px) {
    .brandName--shelf-product {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
    }
    .container--shelf-product .clearLink--shelf-product:first-child:hover .element--shelf-product {
        opacity: initial;
    }
    .container--shelf-product .clearLink--shelf-product:first-child:hover::before {
        display: none;
    }
}