/* Header */
.headerStickyRow--mobile-header-content{
    transition: all .2s ease-in-out;
    /* border-bottom: solid 1px transparent; */
}

.headerRowContentContainer--header-content {
    max-width: 1240px;
    margin: 0 auto;
    padding: 12px 0;
}

.headerRowContainer--header-content {
    justify-content: space-between;
}

.headerRowContentContainer--mobile-header-content {
    padding: 12px 8px 12px 16px;
}

.headerRowContentContainer--mobile-search {
    padding: 0 12px;
}

.headerRowContainer--mobile-search {
    justify-content: center;
}

.headerStickyRow--mobile-header-content .headerRowContentContainer--mobile-header-content {
    border-bottom: 1px solid #b2b2b2;
}
.headerNotFixed :global(.vtex-store-header-2-x-headerRowContentContainer--mobile-header-content) {
    border-bottom: 0;
}