.container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 33px auto 0;
    padding: 0;
}

.container--pdp {
    padding-left: 125px;
}

.link,
.term {
    padding: 0;
    line-height: 19px;
    font-size: 14px;
    color: #999092;
}

.link:hover,
.link:focus {
    outline: none;
    color: #707070;
}

.homeLink::after {
    content: "Home";
    display: block;
}

.homeIcon {
    display: none;
}

.arrow {
    display: flex;
    align-items: center;
    padding: 0;
}

.caretIcon {
    margin: 0 8px;
    color: #bebebe;
}

:global(.vtex-flex-layout-0-x-flexRow--breadcrumb-search) :global(.vtex-store-components-3-x-container) {
    padding: 0;
}

@media only screen and (max-width: 1025px) {
    .container {
        margin: 32px 18px 25px;
    }
    .link,
    .term {
        line-height: 13px;
        font-size: 10px;
    }
    .term,
    .termArrow{
        display: none;
    }
}
